[2019-10-28 08:40] mgroenhoff commented on #1437
All of these really, whatever is not a boolean. It used to allow all these types (which where implicitly converted to a boolean).
[code]

[2019-10-28 08:55] Andarist commented on #1437
Could you post a real-life use case for this? When the value is not yet evaluated to 0/''/undefined/null?

[2019-10-28 09:19] mgroenhoff commented on #1437
These values can come out of basic boolean expressions if not explicitly converted to a boolean (wrapped within `!!(...)`).

[code]

[2019-10-28 09:27] mgroenhoff commented on #1437
Oh and one other thing, if you use React and TypeScript and try to infer the types of props using `prop-types`, the `Requireable` interface makes a type `T` optional by making a new type `T | null | undefined` so allowing `undefined` and `null` is an easy way to use props directly  `cx({ foo: props.optionalProp })`

[2019-10-28 10:39] Andarist commented on #1437
Well - I was hoping for a more concrete code example involving `cx` usage. I assume I know what you have in mind in regards to props being a base for `cx` "condition", but wanted to get a concrete example to get a better understanding of what you are struggling with. I know how coercion and everything works in JavaScript 😉

What `Requireable` is? Did you refer to TypeScript's `Required`? Doesn't m

[2019-10-28 11:14] Andarist commented on #1578
Yes, when doing SSR with vanilla emotion you have to follow this https://emotion.sh/docs/ssr#using-emotion-10-with-the-old-ssr-apis

Yes, `@emotion/core` has builtin support for theming - but to make things work you have provide a theme, right? And that's done through `ThemeProvider` from `emotion-theming`. What "builtin" support for theming means is that if you wrap your application in `ThemeProv

[2019-10-28 11:18] mgroenhoff commented on #1437
The point i am trying to make is that it is not bound to specific use cases. I came across this issue while upgrading our code base from using emotion 9 to 10 and i had to fix **a lot** of these by explicitly converting them to a boolean type.

Maybe i was not clear enough about the `Requireable` interface. It comes from the `prop-types` package. I was walking about a feature of TypeScript+React t

[2019-10-28 11:40] Andarist commented on #1437
Oh, that's wild! Thanks for sharing.

Well - I believe that concrete use cases would be really helpful for this because we have to add a type test to make sure this doesn't break in the future and those should reflect real-life scenarios.

I believe that static typing can often constrain what is actually possible at runtime. Taking this as an example - even as you probably can pass an empty string

[2019-10-28 11:46] mgroenhoff commented on #1437
Actually, there is an overload for createRef that creates a mutable ref, it is even in the React documentation for hooks.

If you indeed choose to only allow boolean types you may want to restrict the types of other arguments to cx as well for consistency.

[2019-10-28 12:35] JakeGinnivan commented on #982
@Tsury I am pretty sure #1501 will sort your issues out. We had a bunch of similar type inference issues before the fixes in that PR.

[2019-10-28 12:39] JakeGinnivan commented on #991
@ncknuna @Andarist yep, pretty sure this will be fine. There is now a test for props with unions.

After it lands if that isn't the case it may be slightly different to the tests but this is the test:

[code]

[2019-10-28 12:48] JakeGinnivan commented on #1447
@WestonThayer having a look at this, I can't think of a way to solve this off the top of my head.

Because it's an ambient type once the emotion library declares it I'm not sure how you would override them unfortunately.

[2019-10-28 12:52] grncdr commented on #1491
It seems fixed for me.

[2019-10-28 12:53] JakeGinnivan commented on #1434
Pretty sure this is solved by #1501 as @Andarist said, have also updated the docs around creating the themed types. Please give the types in my PR a spin otherwise it should be sorted once they are released.

[2019-10-28 13:21] FezVrasta opened #1579 "Flow check on CI not detecting errors"
**Current behavior:**

CI seems not to detect any Flow error for some reason.

**To reproduce:**

1. Check out the CI logs on master (e.g. https://circleci.com/gh/emotion-js/emotion/7855)

**Expected behavior:**

CI should report the same errors I'm getting locally:
![image](https://user-images.githubusercontent.com/5382443/67681722-2c92c800-f98e-11e9-946f-00445aca7332.png)

**Environment informat

[2019-10-28 14:30] Andarist commented on #1579
What exact errors are you seeing locally? Wasn't that PR of yours ready to be merged?

[2019-10-28 14:35] Andarist commented on #1491
Thank you for checking this! Closing the issue as it seems that it has been fixed already.

[2019-10-28 14:35] #1491 closed

[2019-10-28 14:55] Andarist commented on #1447
After some thinking right now - if we would have to support declaration merging for DefaultTheme then this could have been "fixed".

[2019-10-28 14:59] Andarist commented on #1437
I was strictly referring to createRef - it is very similar to useRef, but their types differ (for mentioned reasons - useRef can return a mutable object, while createRef doesn't).

I'm not saying I want only boolean types there, I'm somewhat fine with allowing null & undefined at positions we discuss - I'd only like to add this after having some real-life scenario presented which would justify thi

[2019-10-28 15:00] luisrodriguez-cbsinteractive commented on #1249
I keep getting the not found error even thought the definitions is in the same file.
I converting my js files to tsx typescript as used in my office

/Users/lrodr0923/repos/brackets/src/App.tsx
TypeScript error in /Users/lrodr0923/repos/brackets/src/App.tsx(34,6):
Type '{ teamName: string; coachName: string; cardDate: string; teamDescription: string; actions: { id: number; label: Element; }[]; }'

[2019-10-28 15:04] FezVrasta commented on #1579
The errors I see are from the primitives packages, I didn't touch them (and I saw them even before I started working on the `styled` types)

[2019-10-28 15:09] FezVrasta commented on #1579
This is the Flow output if you checkout 3b7e2f2e (way before my changes)

![image](https://user-images.githubusercontent.com/5382443/67690468-3cfe6f00-f99d-11e9-910e-bad48d4142c9.png)

[2019-10-28 15:14] FezVrasta commented on #1579
I ran a bisect and the errors started happening after 3faff18589af66e7654fb4fc8de5b6d3c7490c2e

Anyways, the main issue is that CI is not catching them, not much that we have some errors.

[2019-10-28 15:18] FezVrasta commented on #1579
I guess there's something weird with Flow or my local setup, I tried to run a bisect and after a few checkouts, going back to master I don't get those errors anymore 👀

[2019-10-28 15:23] mgroenhoff commented on #1437
Like i tried to explain, we have a lot of props that can be either a boolean, null or undefined. We currently pass them directly because they just coerce to false.
[code]

I didn't think this backwards incompatibility thing would be such a big issue. If you are still not convinced then that's ok but i might want to put my time into fixing the errors that are present because of this.

[2019-10-28 15:47] Andarist commented on #1392
You are trying to fire a submit event on an input, you should do that on a form element. This is a correct version for this test:
[code]

[2019-10-28 15:47] #1392 closed

[2019-10-28 16:31] Andarist commented on #1579
Can this be closed then?

[2019-10-28 16:36] Andarist commented on #1437
And this is what I call a real-life scenario 😉 This certainly convinces me that `undefined` should be accepted - `null` ofc can be allowed too.

[2019-10-28 17:06] FezVrasta commented on #1579
I suppose, still that's so weird...

[2019-10-28 17:06] #1579 closed

[2019-10-28 19:02] Andarist commented on #1097
@lifeiscontent I've implemented a warning for this in https://github.com/emotion-js/emotion/pull/1580  . Closing this right now as the PR will most likely be merged soon.

[2019-10-28 19:02] #1097 closed

[2019-10-28 19:34] Andarist commented on #1173
This happens because with `jsx` pragma we actually don't render your component directly, but rather our own which later renders the one you have given us. This **might** get "fixed" in upcoming emotion@11 (I'm going through all issues to plan the work for it) - this is not yet guaranteed, but likely. Keep in mind though that we believe that you really shouldn't base your runtime logic based on the

[2019-10-28 19:34] #1173 closed

[2019-10-28 19:40] coreyward commented on #1404
@Andarist That would be fantastic and improve the overall experience dramatically. What's the estimated timeline for that?

[2019-10-28 20:02] Andarist commented on #1198
From what I can tell - this no longer happens. Additionally, falsy values as object values are allowed, see this test:
https://github.com/emotion-js/emotion/blob/6cb8d15438b01b8623af42f304d5ea3032332187/packages/emotion/test/css.test.js#L248-L252

Closing this as resolved.

[2019-10-28 20:02] #1198 closed

[2019-10-28 20:37] Andarist commented on #1277
Sorry for not getting to you back sooner - I hope you have resolved your issue. If not - let us know by creating a new issue.

It seems that your use case is rather niche (I don't treat this issue lightly as I'm working on an embeddable widget myself) and I'm afraid we won't reintroduce `create-emotion-styled` functionality as CacheProvider is intended to replace the need for it entirely. I unders

[2019-10-28 20:37] #1277 closed

[2019-10-28 20:41] Andarist commented on #1354
As a result of this issue, I've fixed 2, rather edge-case, problems. The thread here is no longer focused on the OP's problem which I'm not sure it is still a problem (could have been fixed along the way). Closing this right now - but if you still experience any problems, similar or not, with emotion then please just raise a new issue so we could discuss it there.

[2019-10-28 20:41] #1354 closed

[2019-10-28 20:58] Andarist commented on #1404
I'm going through all of the issues right now (tackled nearly 80 of them in the last couple of days, which has included answering to them - sometimes comprehensively, giving guidance, creating dozens of PRs etc). Once I get through it all - I will have to implement what can be implemented without breaking changes (just few minor improvements) and then I will be able to proceed with v11, which is n

[2019-10-28 21:04] iasinov opened #1582 "Jest-Emotion with Nested Components as Selectors"
When generating the snapshots for the storybook stories, jest-emotion doesn't replace classes for the cases, when in style definitions components were used as selectors:

[code]
Snapshot piece generated on Linux/Mac:

[code]
Snapshot piece generated on Windows:

[code]
Class for the AnotherComponent doesn't have jest-emotion-like class name and is being generated differently among Windows and Linu

[2019-10-28 21:19] Andarist commented on #1582
You can fork the babel plugin for v9 and change this:
https://github.com/emotion-js/emotion/blob/7c582301317cd9c0038a13a118456e798ffcadf8/packages/babel-plugin-emotion/src/index.js#L182
to
[code]

This is how this [has been fixed](https://github.com/emotion-js/emotion/blob/97673098945a75b716d4cac100c1af46a5ae18f2/packages/babel-plugin-emotion/src/utils/get-target-class-name.js#L44) in emotion@10.

[2019-10-28 21:25] Andarist commented on #1391
The issue is described without any details. I'm forced to close this until you provide more details - we need to know what you did, what exactly did you observe and preferably with a runnable repro case.

[2019-10-28 21:25] #1391 closed

[2019-10-28 21:29] Andarist commented on #1386
There is nothing that we can do to fix this - it's just how things work in general (the issue is not exclusive to emotion). We could introduce some kind of a warning - which is tracked here https://github.com/emotion-js/emotion/issues/1470 , but we need to think about all pros and cons of this before implementing this.

[2019-10-28 21:29] #1386 closed

[2019-10-28 21:31] Andarist commented on #1370
You'd have to share a runnable repro case so I could take a look at this. If you create such then please just create a new issue about this.

Other than that I consider this issue as resolved. Multiple style tags are expected, unless you are using "old" SSR APIs.

[2019-10-28 21:31] #1370 closed

[2019-10-28 21:35] dgwyer commented on #1370
Would it not be possible to look into combining Emotion styles into (preferably) a single `style` tag or reduce the number?

The large number of individual `style` tags put me off using this for production projects.

[2019-10-28 21:47] Andarist commented on #1365
I'm afraid hashing is just too core concept in emotion - any changes to this would just bring too much of maintenance complexity. It might be possible to build this yourself with a few hacks on top of existing stuff (would probably also require build-time hacks). If you are in desperate need of this - reach out to me on Twitter (my DMs are open) so we can discuss this further.

[2019-10-28 21:47] #1365 closed

[2019-10-28 21:55] WestonThayer commented on #1447
I like the declaration merging solution. I just tested it out in an emotion fork. If `@emotion/core/types/index.d.ts` adds:

[code]

Then out of the box, I get a really nice TS error when attempting to pass a dynamic style to `css`:

[code]

And I can easily override the DefaultTheme with:

[code]

[2019-10-28 22:03] Andarist commented on #1363
I believe all questions here have been answered - we recognize the overall problem with confusing naming etc. But there are is also a reason why both libraries, for example, export `css` function - it's the only function which Prettier formats (and they have even rejected formatting `keyframes`, so chances that other function name would get formatting similar formatting to `css` are really low) an

[2019-10-28 22:03] #1363 closed

[2019-10-28 22:07] baldurh commented on #1370
I guess it makes sense that the default behavior just works and it does that by injecting the style tags where the styles are used. You could try our approach using the style extraction. It has been working well for us

[2019-10-28 22:08] Andarist commented on #1349
Basically `css` result is the same each time you call it with the same arguments conceptually, but not technically - because it's an object.

I wouldn't be too concerned about perf though, optimize only bottlenecks - most of your components with styles are leaf nodes and it just doesn't matter for them if that generated object is the same or not.

[2019-10-28 22:08] #1349 closed

[2019-10-28 22:10] Andarist commented on #1347
Closing this because we have not received enough information for a long time to be able to look at this.

[2019-10-28 22:10] #1347 closed

[2019-10-28 22:11] Andarist commented on #1346
Closing this right now - because the mentioned #1220 is supposed to fix this and I will be working this month to land this. It will be a part of the upcoming v11 release.

[2019-10-28 22:11] #1346 closed

[2019-10-28 22:11] WestonThayer commented on #1447
I think you make good points in https://github.com/emotion-js/emotion/issues/1507#issuecomment-539919716 though.

Maybe the answer is that I should be using `emotion` instead of `@emotion/core`. Losing the `NODE_ENV === "development` friendly class names that `@emotion/core`'s `css` provides would be a bit of a bummer though.

Or maybe this should be solved via an ESLint rule rather than via TypeS

[2019-10-28 22:16] Andarist commented on #1340
With thousands of components - yes, it can matter. I believe though that you try to prematurely optimize this. There are probably many other things working slower in your apps than emotion (it's pretty fast) - to improve overall performance focus on things like code-splitting and stuff rather than this.

[2019-10-28 22:16] #1340 closed

[2019-10-28 22:25] Andarist commented on #1335
Typings for `@emotion/css/macro` and `@emotion/styled/macro` are available already for quite some already. I've just created a PR (https://github.com/emotion-js/emotion/pull/1583) for missing types for `emotion/macro` though.

I expect this PR to be merged & released soon, so I'm closing this issue to keep the issue tracker clean.

[2019-10-28 22:25] #1335 closed

[2019-10-28 22:27] Andarist commented on #1334
Closing this because it seems that it's easily achievable through existing ESLint rules - as suggested by @arvigeus (thanks!).

[2019-10-28 22:27] #1334 closed

[2019-10-28 22:30] Andarist commented on #1333
I know this issue is older, but there is some additional context in https://github.com/emotion-js/emotion/issues/1543 which is a duplicate of this issue. I'm closing in favor of the other one.

While we have those native flavors of emotion, we don't have capacity to handle all issues for them (there are not many though 😉 ). As you seem to be interested in those packages - we would highly appreciat

[2019-10-28 22:30] #1333 closed

[2019-10-28 22:37] Andarist commented on #1327
I no longer can reproduce the problem on your codesandbox:
<img width="524" alt="Screenshot 2019-10-28 at 23 36 01" src="https://user-images.githubusercontent.com/9800850/67723252-be74f200-f9db-11e9-8d57-69fca14231f8.png">
I assume the issue has been fixed by type changes, either in emotion or in styled-system. Or maybe just new TS version got better at this, hard to tell which one.

[2019-10-28 22:37] #1327 closed

[2019-10-28 22:43] Andarist commented on #1326
This is why `css` is actually important at times, this particular case can be solved by just wrapping your return value in `css` call.
[code]

As to your factory problem - I don't think the label problem is easily fixable on our side. Static analysis just hard for a dynamic language like JS. You can manually add labels though - it's just a special "style", so you can either append `label:FOO` to y

[2019-10-28 22:43] #1326 closed

[2019-10-28 22:50] Andarist commented on #1323
`&` refers to the current computed class name, more on this can be found in this issue - https://github.com/emotion-js/emotion/issues/1417 .

I would just advise here not to couple child & parent classes like this at all. Simplify things - you can do that for example like this:
https://codesandbox.io/s/emotion-css-in-js-issue-29954

[2019-10-28 22:50] #1323 closed

[2019-10-28 22:56] Andarist commented on #1322
Thanks for the report! We'll consider this as part of the upcoming emotion@11. No guarantees though that this will get in - the clean DOM would be nice, but that vanilla `cx` has at the moment guaranteed string return type. Seems like most commonly this is used directly before passing the return value to the DOM sink, so this change might be OK - but I need to give this more thought.

[2019-10-28 23:14] Andarist commented on #1313
I'm afraid this is a problem with stylis (the parser we use). I've reported it there (https://github.com/thysultan/stylis.js/issues/151), but can't give you any ETA for the fix.

[2019-10-28 23:17] Andarist commented on #1310
Types are being reworked heavily as part of this PR -  https://github.com/emotion-js/emotion/pull/1501 . We hope to make them easier to reason about and as a result they should be easier to use. You can follow that PR and try using types in there to check if they fix your issues. If not - please comment in that PR with failing cases.

[2019-10-28 23:17] #1310 closed

[2019-10-28 23:22] jvgreenaway commented on #1257
The emotion css prop type coming with Storybook brought me here too. I've managed to fix this for myself by adding `@emotion/core` to a `.yarnclean` file.

[code]

[2019-10-28 23:23] Andarist commented on #1308
This is unsolvable because of the reasons mentioned in https://github.com/emotion-js/emotion/issues/1417 . You just think that `&` is something different than it actually is. A selector such as this in your emotion styles is thus unsafe.

[2019-10-28 23:23] #1308 closed

[2019-10-28 23:30] Andarist commented on #1447
With vanilla `emotion` you won't have eassy theme access though. I think we are going to go with DefaultTheme approach in the end, but we'd also like to promote creating your own themes with https://github.com/emotion-js/emotion/pull/1577 to avoid problems described in https://github.com/emotion-js/emotion/issues/1507#issuecomment-539919716 and in https://github.com/emotion-js/emotion/pull/973 . T

[2019-10-29 04:07] vdh commented on #1105
For anyone else who's like me and has been saddled with this opinionated log spam just because you decided to use a dependent like Storybook (e.g. Did not choose Emotion directly and have no current desires to combine Emotion with anything server-side), here's a (very hacky) workaround via a Webpack loader:
[code]
It's rather irritating though that I have to resort to monkey patching something tha

[2019-10-29 07:35] Andarist commented on #1320
This will be addressed with https://github.com/emotion-js/emotion/pull/1220

[2019-10-29 07:35] #1320 closed

[2019-10-29 07:37] Andarist commented on #1312
As far as I know `@babel/preset-react` can be used together with `@emiotion/babel-preset-css-prop` - it's just that our preset has to come AFTER React's preset. This is described here:
https://github.com/emotion-js/emotion/blob/master/packages/babel-preset-css-prop/README.md#usage

[2019-10-29 07:37] #1312 closed

[2019-10-29 07:38] Andarist commented on #1307
As mentioned - #967 will solve this. This will be part of the upcoming emotion@11

[2019-10-29 07:38] #1307 closed

[2019-10-29 07:39] Andarist commented on #1302
This will be solved by https://github.com/emotion-js/emotion/pull/1220 . If you are interested in helping us move this PR forward - we'd appreciate all the help we can get.

[2019-10-29 07:39] #1302 closed

[2019-10-29 07:40] Andarist commented on #1298
@JakeGinnivan could you check how your PR affects this issue?

[2019-10-29 07:41] Andarist commented on #1297
Yes - we don't plan to backport anything to emotion@9. You can upgrade to emotion@10 which doesn't suffer from this problem.

[2019-10-29 07:41] #1297 closed

[2019-10-29 07:50] Andarist commented on #1295
We believe that for this very reason (among other reasons as well) `styled` abstraction just comes to its limitations and that's why we prefer to use jsx pragma, css prop etc. When you have all of this in your render function it just removes problems such as this.

Refactoring your example to css prop would like this:
[code]

Just look at how it looks practically the same.

I believe this is what

[2019-10-29 07:50] #1295 closed

[2019-10-29 07:53] Andarist commented on #1288
This issue doesn't contain any concrete repro steps - but the error itself looks really similar to what got reported here - https://github.com/emotion-js/emotion/issues/1468 - and what will be fixed by this - https://github.com/emotion-js/emotion/pull/1572

I might be mistaken of course, but until you provide repro steps I must close this issue due to long inactivity

[2019-10-29 07:53] #1288 closed

[2019-10-29 07:55] Andarist commented on #1287
@VladimirPittner thanks for replying! Closing this because the answer is given and it's a good one 😉

[2019-10-29 07:55] #1287 closed

[2019-10-29 08:08] Andarist commented on #1284
This has been fixed lately in https://github.com/emotion-js/emotion/pull/1560

[2019-10-29 08:08] #1284 closed

[2019-10-29 08:09] Andarist commented on #1282
What @FezVrasta said, we don't override passed className.

[2019-10-29 08:09] #1282 closed

[2019-10-29 08:11] joe-bell commented on #1327
No worries, thanks for investigating @Andarist

[2019-10-29 08:12] Andarist commented on #1279
With how Babel plugins operate independently to each other this is really tricky to do - I've looked into it lately and assessed that is just not worth it and would probably be buggy as hell.

That's a price you are paying for using this preset - it has been created only because people were vocal that they want to have this automated. We recommend using plain jsx pragma - that way you control whic

[2019-10-29 08:12] #1279 closed

[2019-10-29 08:13] Andarist commented on #1278
This will be done when we land https://github.com/emotion-js/emotion/pull/1575 . Closing it right now though to clean up the issue tracker.

[2019-10-29 08:13] #1278 closed

[2019-10-29 08:16] Andarist commented on #1281
Closing this issue because it's not described well - I'm actually not sure what is reported here. If you manage to describe this better - please feel free to open a new issue with a proper description.

[2019-10-29 08:16] #1281 closed

[2019-10-29 08:18] Andarist commented on #1275
I believe this has been fixed already, but if not - please raise it again. Thanks for understanding.

[2019-10-29 08:19] Andarist commented on #1263
We believe that static extraction is just not worth it and also has its drawbacks (such as lack of tree-shakeability, auto lazy-loading etc).

Nothing like this is currently planned. Sorry!

[2019-10-29 08:19] #1263 closed

[2019-10-29 08:21] JakeGinnivan commented on #1298
Just added the above as a test, works fine in #1501

The workaround solution also still works. Pushed the additional tests too

[2019-10-29 08:23] Andarist commented on #1229
This problem is quite easily solvable with CacheProvider. Docs are live here - https://emotion.sh/docs/cache-provider . I hope this helps you - if not, please feel free to raise a new issue so we can discuss more (I promise you won't wait for a response as long as you did in the past).

[2019-10-29 08:23] #1229 closed

[2019-10-29 10:20] Andarist commented on #1298
Thanks for checking! Closing this issue because #1501 is intended to fix it.

[2019-10-29 10:20] #1298 closed

[2019-10-29 13:17] FezVrasta opened #1587 "Make StyledComponent type polymorphic"
I started to use the new Flow types into my project, and I figured out it would make sense to make `StyledComponent` a polymorphic type, so that we can do this:

[code]

Which would allow to:

1. type `props` inside the styled component logic
2. allow to workaround the lack of tagged template support of Flow

Unfortunately I doubt my Flow knowledge is good enough to implement this without breaking

[2019-10-29 13:22] Andarist commented on #1587
Well, I'm not sure if there is anyone other than you willing to jump on this. This definitely makes sense, I just don't have enough expertise with flow to implement this myself. I also don't understand how those types were used so far, so it's hard to assess what might be breaking and what is not.

I'm not against breaking changes in types though - I believe that we can release type changes each m

[2019-10-29 13:56] FezVrasta commented on #1587
I think it could be enough to change the `CreateStyled` call signature, while leaving the `[key: string]: ...` type as is it now.

That way we can still do `styled.div<Props>()`, we can do `styled<Props>(fn)()`, but we'll not be allowed to do `styled(fn)<Props>()` (which I think would be okay).

Obviously something is not working with my implementation...

https://flow.org/try/#0PTAEAEDMBsHsHcBQBL

[2019-10-29 23:41] Andarist commented on #1285
I'd love to help with fixing your problem - but no exact repro case was given and without such, I cannot do much.

[2019-10-29 23:44] Andarist commented on #1272
From what I can tell the issue here was about types with styled-system - that's somewhat out of the scope of this repository.

[2019-10-29 23:44] #1272 closed

[2019-10-29 23:48] Andarist commented on #1269
We don't plan anything like that. Truth to be told - we don't maintain native packages the same way we do core emotion. Native packages have been created by the community members, the core team doesn't have time capacity to work on it properly - we don't plan to remove them from this monorepo but we expect the community to step up and send us PRs for those packages if needed. We are happy to help,

[2019-10-29 23:48] #1269 closed

[2019-10-29 23:50] Andarist commented on #1267
@JakeGinnivan could you take a look at this?

[2019-10-29 23:52] Andarist commented on #1266
You can implement code-splitting with the help of React.lazy etc. Other than that we don't have any other bytes-saving bundling strategy recommendations.

[2019-10-29 23:52] #1266 closed

[2019-10-30 00:22] grrowl commented on #1285
I believe this isn't a `emotion` problem specifically but an issue with some SSR stacks resolving the React Context to two different modules depending on whether it's a client or server build

[2019-10-30 00:45] JakeGinnivan commented on #1267
I think the types in the `serialize` package need a go over. Personally I don't use the babel plugin so we do this:

[code]

And create a dedicated component with those styles so I haven't hit this myself.

If you do want to have a go at preparing a PR, it will not conflict with my PR. That said my PR gets all the tests passing so you know your changes haven't broken anything. So maybe base any PR

[2019-10-30 03:14] IsenrichO commented on #1346
Nice. Can't wait.

[2019-10-30 03:22] JakeGinnivan commented on #1447
A manual backwards compat step would be to add instructions to do this:

[code]

[2019-10-30 20:02] jimmymorris commented on #1491
Looks to be fixed!

[2019-10-31 00:14] jcklpe opened #1590 "Please considering a more human readable format for generated css classes."
**The problem**

Emotion produces class names like this: `class="css-jdkslf-Item"`

![image](https://user-images.githubusercontent.com/9451726/67908113-36602b00-fb48-11e9-89a5-6d33a176d1c0.png)

While the Item trailing the end is useful because it helps identify the name of the Component it was attached to, it also is harder to read at the end.

**Proposed solution**

It would be better if the cla

[2019-10-31 08:05] #1178 closed

[2019-10-31 08:38] JakeGinnivan commented on #1178
Docs now cover an Advanced integration which doesn't have selector limitations so people can choose their trade offs.

[2019-10-31 10:22] Andarist commented on #1590
I'm afraid this is a no-go. Hashing is here so you don't have to think about class names at all, you don't have to write them manually - and this is one of the best appeals for css-in-js.

Also labels being suffixes rather than prefixes is important because it's completely an optional thing - we might have it or not and it's easier to manage optional things in the code if they are at the end.

[2019-10-31 10:22] #1590 closed

[2019-10-31 10:28] Andarist commented on #1267
So to sum it up - if this is still something that is problematic, please raise a PR against #1501. Other than that I don't think there is anything else actionable here right now, so I'm going to close the issue to clean up the issue tracker.

Be sure though that we care about DX a lot so if this still somehow bothers you and you cannot raise a PR yourself then please open a new issue explaining th

[2019-10-31 10:28] #1267 closed

[2019-10-31 10:31] Andarist commented on #1285
I'm going to close this then - assuming the issue could already have been fixed by OP. If not - please share repro steps, if you do that I will take a look at your problem shortly.

[2019-10-31 10:31] #1285 closed

[2019-10-31 10:32] #1582 closed

[2019-10-31 17:09] bradwestfall commented on #1178
Thanks @JakeGinnivan, do we still see selector warnings even if we're nor using SSR. To my understanding those advanced integrations are all about what to do if you are using SSR right?

[2019-10-31 18:22] liamcmitchell-sc opened #1593 "Babel plugin changes don't invalidate jest cache"
**Current behavior:**

Changes to babel plugins (babel-plugin-emotion, babel-plugin-jsx-pragmatic, babel-preset-css-prop) that change classname hashes, do not invalidate jest cache (and cause devs to spend hours tracking down cause of diffs).

**To reproduce:**

Reproduction is a bit of a pain. You need a snapshot from an older version of emotion (pre [10.0.23](https://github.com/emotion-js/emotio

[2019-10-31 18:47] liamcmitchell-sc commented on #1593
Actually, not sure yet if this really fixes my issue. I still think the issue is with cached babel transforms. Investigating further.

[2019-10-31 19:23] Slapbox opened #1594 "Warn about interpolation of undefined variables?"
This issue turned out to be caused by an improper import on my part, which `ESLint` didn't identify as missing and which is hard to catch in the debugger. Is there anything that can be done to warn about interpolation of undefined variables?

**Not a bug - Original issue text below**
# Disregard below this point

----
## Current behavior:

Referencing another Emotion component from within rules ge

[2019-11-01 01:12] JakeGinnivan commented on #1178
@bradwestfall you need to do the advanced client integration https://emotion.sh/docs/ssr#on-client

Basically if you use the default cache you get the warn, you have to create and use your own cache to disable the warning.

[2019-11-01 06:41] jcklpe commented on #1590
@Andarist  it's ya'll's project, but I'll just say that while it may be appealing to some to not have to deal with class names, you are still in fact using classes names so they should be easier to understand and read.

Basing the label format of the css classes off the react component mark up is done in order that developers can keep track of which html elements came from which part of their JSX

[2019-11-01 06:41] #1437 closed

[2019-11-01 08:16] Andarist commented on #1590
Using class names with emotion is really just an implementation detail (to some extent).

Labels are indeed a helpful development feature - but truth to be told I don't find appending them to the end of the inserted class name much less readable. Emotion is out for quite some time already and also used by many and we didn't have much feedback about this deteriorating readability so far.

[2019-11-01 11:01] Andarist commented on #1594
You are using macros there, which are kinda babel plugins 😉

Undefined is kinda allowed at certain places - so it's not so easy to detect when this happens by accident and when not. I'll try to analyze this later to see if there is anything we could to warn people against this, but this might be tricky to assess.

[2019-11-01 11:05] Andarist commented on #1593
I'm not entirely sure if it's possible for us to add such cacheBuster option internally - because Babel might try to serialize plugins when calculating the cache key BEFORE resolving the plugins.

This is certainly worth looking into - but it might be the case that we won't be able to "fix" this on our part. This would be a good feature request for Babel though.

[2019-11-01 11:45] liamcmitchell-sc commented on #1593
Jest cache is calculated by serializing the fully resolved Babel config - the output from https://babeljs.io/docs/en/babel-core#loadoptions

I'm leaning towards adding my whole package.json to babel config so that the cache is busted on any dep change.

The fix I have above adds the version to the preset config, which is then spread onto the jsx plugin config when resolved.

A similar "fix" could

[2019-11-01 11:46] liamcmitchell-sc commented on #1593
Please close if you think it's best solved upstream. Just wanted to make sure this issue is documented somewhere in case others run into it.

[2019-11-01 13:47] FezVrasta commented on #1590
Aren't source maps there to help you figure out where styles come from? I never need to read the generated class names.

[2019-11-01 16:30] jcklpe commented on #1590
That's fair. The framework I'm using that uses Emotion has not had support for source maps though there is a pull request currently to fix that so maybe this will be a pretty obvious moot point.

[2019-11-01 18:49] ajs139 opened #1597 "Remove `innerRef` error, and default prop filtering of `innerRef`."
**Current behavior:**

If a component exposes an `innerRef` property, and it is wrapped with a `styled` component, then the returned component, by default, will intercept the `innerRef` prop. It will also output an error in the console. This is to warn users of prior versions that the `innerRef` prop is no longer supported by emotion's styled components.

**To reproduce:**

[code]

**Expected beha

[2019-11-01 21:57] Andarist commented on #1597
We can't change this right now as this would be a breaking change. Good news though is that we are preparing a v11 release which, among other things, will do exactly that - remove special handling of `innerRef` altogether. Stay tuned!

[2019-11-01 21:57] #1597 closed

[2019-11-01 22:21] bolatovumar opened #1598 "Link to nonce 404s"
**Description:**

See "nonce" link here: https://emotion.sh/docs/create-emotion#primary-use-cases
It leads [here](https://emotion.sh/docs/cache#nonce-string) which is a 404 page.

I would expect it to take you the page explaining what the nonce does.

[2019-11-01 22:23] Andarist commented on #1598
Thank you for the report! I'll try to fix it as soon as I can - in the meantime the section you were looking for is available here: https://emotion.sh/docs/@emotion/cache#nonce

[2019-11-01 23:27] Andarist commented on #1593
I think it's worth fixing it here - if possible. I guess you've wasted on this some time so it would be good to prevent others from wasting it as well.

I'll try to repro this when I get some free time to see how it behaves when I add cacheBuster-like option.

[2019-11-01 23:31] Andarist commented on #1228
Until we get exact repro steps for this I have to close this issue to keep the issue tracker clean. Thank you for your understanding.

[2019-11-01 23:31] #1228 closed

[2019-11-01 23:37] Andarist commented on #1211
@FezVrasta could you confirm this issue? Or is it just reluctance towards adding the jsx pragma?

[2019-11-02 06:35] FezVrasta commented on #1211
I’d need to check, I personally don’t use the custom pragma

[2019-11-02 14:35] elliotdickison commented on #1178
Just read the docs - love it, thanks for putting those together! The trade off is much clearer and knowing there’s an escape hatch when you really need it is nice.

[2019-11-02 18:26] Emiliano-Bucci commented on #1237
Hi to all! I'm facing some issues during jest-tests using `Next.js`:

This is my config inside `babel.config.js`:

[code]

Next is builded correctly and styles are applied correctly, but i have this strange issue with snapshots:

[code]

My `package.json`:

[code]

Any clues on this? Thanks! :)

[2019-11-02 19:52] Andarist commented on #1237
@Emiliano-Bucci this should only happen if you pass `css` output to `className` props (instead of to `css` prop). Could you prepare a runnable repro case? Hard to be sure without investigating the code.

[2019-11-02 20:20] Emiliano-Bucci commented on #1237
@Andarist Yes, i've already prepared :) It's a very simple one, but it replicates in a very basic way the repo in which i'm working on (this was a sort of boilerplate project) ->
https://github.com/Emiliano-Bucci/emotion-css-issue

[2019-11-02 22:29] Andarist commented on #1237
From ts-jest docs:

This happens because you transpile JSX with TS **first** so Babel doesn't ever see JSX in a file and doesn't handle it with `@emotion/babel-preset-css-prop`.

If you would just use jsx pragma directly everything would work as TS would recognize it and just use it.

[2019-11-02 23:19] Andarist commented on #1211
@rpavlovs if the issue persists - please open a new issue with a runnable repro case and exact repro steps. Thank you for understanding

[2019-11-02 23:19] #1211 closed

[2019-11-03 04:25] ChrisW-B opened #1601 "Adding nonbreaking white space to a pseudo elements content breaks the style"
**Current behavior:**

When I use a nonbreaking white space character (\00a0) in a pseudo element's content property, the css does not appear after building
**To reproduce:**
Sample code using the nbsp:
[code]

1. ...
2. ...
3. ...

**Expected behavior:**

**Environment information:**

- `react` version: 16.11.0
- `emotion` version:
  - `@emotion/core`: 10.0.22
  - `@emotion/styled`: 10.0.23
  - `

[2019-11-03 09:36] Emiliano-Bucci commented on #1237
@Andarist That's correct! But in the docs it also says that it can be configured in order to make `ts-jest` to pick a custom babel config, which is what i'm doing (a `babel-config.js`) but it seems that it isn't working as expected

[2019-11-03 10:25] Andarist commented on #1601
We warn against this in development:
https://github.com/emotion-js/emotion/blob/c53646d5ddf453a480da1cd4428773bddc93c30f/packages/serialize/src/index.js#L364-L366

However, the warning can be given only when using untranspiled JavaScript or spec-compliant transforms. I suppose you have an outdated Babel version and thus you don't see the warning about it and this fails silently.

Basically because

[2019-11-03 10:25] #1601 closed

[2019-11-03 10:45] Andarist commented on #1237
As mentioned in the quoted docs - custom babel config can be used together with ts-jest, it's only that Babel runs AFTER TS transpiles your code and not the other way around. So that's why this is not working "as expected".

[2019-11-03 10:48] Andarist commented on #1237
Other than that the issue here seems to be about configuring babel correctly - number of solutions have been described etc. Most likely the OP's problem has been solved already - so I'm going to close this issue.

If any of you still have any problems with emotion then please just open a new issue with a runnable repro case and a proper description. Hope you understand.

[2019-11-03 10:48] #1237 closed

[2019-11-03 12:03] FezVrasta commented on #1433
You can use the ClassName component from @emotion/core

Mixing the two libraries is not advised because the “css” from the basic emotion library can’t hook into the React context and theme

[2019-11-03 14:17] FezVrasta commented on #1013
I'm closing this issue since it's more a question than a proper issue (as defined by our issue templates) and since there has been no activity for a while.

[2019-11-03 14:17] #1013 closed

[2019-11-03 14:18] FezVrasta commented on #1090
The website changed and this doesn't seem to be a bug anymore.

[2019-11-03 14:18] #1090 closed

[2019-11-03 14:20] FezVrasta commented on #1101
The proper way to generate class names (rather than Emotion CSS objects) is to use `import { ClassName } from '@emotion/core'`.

I'm closing this issue since it has several answers already and it's inactive.

[2019-11-03 14:20] #1101 closed

[2019-11-03 14:21] FezVrasta commented on #1114
I'm going ahead and closing the issue since OP didn't provide a repro after a year

[2019-11-03 14:21] #1114 closed

[2019-11-03 14:27] FezVrasta commented on #1154
The String.match() spec says it can only return an array, or `null`. `undefined` is not an option.
This is reflected by the Flow definitions (https://github.com/facebook/flow/blob/master/lib/core.js#L334).

If you experience other issues like this:

Flow 0.110.0 finally fixed the `[declarations]` option, so now you can tell Flow to ignore errors inside your dependencies, but still take advantage o

[2019-11-03 14:27] #1154 closed

[2019-11-03 14:28] FezVrasta commented on #1164
I'm closing this since OP never replied and the issue is inactive.

[2019-11-03 14:28] #1164 closed

[2019-11-03 14:29] FezVrasta commented on #1177
Thanks for the issue, would you be able to provide a CodeSandbox reproduction please?

[2019-11-03 14:31] FezVrasta commented on #1180
This has been fixed

https://github.com/emotion-js/emotion/blob/master/packages/styled/package.json#L24

[2019-11-03 14:31] #1180 closed

[2019-11-03 14:32] FezVrasta commented on #1207
Closing since the issue has an answer.

[2019-11-03 14:32] #1207 closed

[2019-11-03 14:35] #1223 closed

[2019-11-03 16:43] Andarist commented on #1328
This will be fixed by https://github.com/emotion-js/emotion/pull/1602 . The issue has been caused by transpiling already transpiled code.

[2019-11-03 16:43] #1328 closed

[2019-11-03 21:15] Andarist commented on #1223
Note - jsx pragma is needed only if you want to use css prop feature.

[2019-11-03 21:22] Andarist commented on #1177
I've tried to reproduce this without luck - so we are forced to close this, taken into account that the issue is quite old at this point in time. If OP provides a repro case I would be happy to take a look at the problem. I hope you understand.

[2019-11-03 21:22] #1177 closed

[2019-11-03 21:30] Andarist commented on #1433
Actually we could rename vanilla emotion's `css` to `className` - this would be slightly more appropriate right now. Problem is that i.e. Prettier would not recognize the new name and wouldn't format the contained string styles. This is a problem we are not able to fix here and AFAIK Prettier doesn't want to extend set of things they consider as containing CSS - sadly they don't even format `keyfr

[2019-11-03 21:30] #1433 closed

[2019-11-03 22:17] Andarist commented on #1594
After giving this some thought over past 2 days - I don't see how we can reliably detect this situation without false positives. Unfortunately we won't try to implement a warning for this ourselves right now, but any external contributions in that area are welcomed if you'd like to take a stab at this.

[2019-11-03 22:17] #1594 closed

[2019-11-03 22:19] Andarist commented on #1552
@coreyward have you been able to repro this in isolation?

[2019-11-03 22:20] Andarist commented on #1551
OP has not responded for over 10 days - I have to assume this is not an issue as I couldn't reproduce this myself.

[2019-11-03 22:20] #1551 closed

[2019-11-03 22:32] Andarist commented on #1517
We haven't received a response in nearly 10 days - going to close this to keep the issue tracker clean. If you provide a repro case in the future I will happily take a look at it. Hope you understand.

[2019-11-03 22:32] #1517 closed

[2019-11-03 22:33] Andarist commented on #1498
We haven't received a response in nearly 10 days - going to close this to keep the issue tracker clean. If you provide a repro case in the future I will happily take a look at it. Hope you understand.

[2019-11-03 22:33] #1498 closed

[2019-11-03 22:35] Andarist commented on #1496
Going to close this issue right now as we plan to land the PR intended to improve this soon and I'd like to keep the issue tracker clean as I'm going through the list daily.

[2019-11-03 22:35] #1496 closed

[2019-11-03 22:37] Andarist commented on #1457
This will get resolved~ in v11 by https://github.com/emotion-js/emotion/pull/1501 .

[2019-11-03 22:37] #1457 closed

[2019-11-03 22:39] Andarist commented on #1456
Going to close this issue because it seems more like a general TS question rather than emotion-specific issue. If you still have any problems with emotion, please raise new issue and I will gladly answer and try to help you.

[2019-11-03 22:39] #1456 closed

[2019-11-03 22:48] Andarist commented on #1388
Seems like the dev-only warning was already there when this issue got reported. Can be observed [here](https://codesandbox.io/s/styled-components-rimeo). Not sure how you have missed it - maybe it was swallowed by some tool? Either way - I believe this can be closed. If you still suffer from any problems with emotion - let us know by opening a new issue.

[2019-11-03 22:48] #1388 closed

[2019-11-03 22:50] Andarist commented on #1321
We'll rethink how this problem can be handled right now. We are working on a v11, so we'd like to address problems like this. The solution is not obvious - so no promises yet, but please know that we are going to think about this.

[2019-11-03 22:50] #1321 closed

[2019-11-03 22:56] Andarist commented on #1265
I believe this particular issue has been fixed. I can access https://emotion.sh/docs/@emotion/cache#options and it's linked to correctly from https://emotion.sh/docs/cache-provider

[2019-11-03 22:56] #1265 closed

[2019-11-03 23:11] Andarist commented on #1264
By this sole description, I'm not sure what is not working correctly. I see that you have reported a dedicated issue for this and it's basically about this https://github.com/emotion-js/emotion/issues/1417 . I'm afraid that there is not much that we can do regarding that right now.

The answer to this depends on why do you have to use custom cache/instance. If you can't expect the consumer to wrap

[2019-11-03 23:40] Andarist commented on #1255
I'm afraid this is just how emotion works - when you use css prop on a composite component (yours `MyComponent`) we don't know if it will render an emotion-controlled component so we need to eagerly inject those outer styles into DOM/CSSOM. Later the inner component receives the generated className, based on that it retrieves registered for it styles, composes it with whatever you have passed into

[2019-11-03 23:40] #1255 closed

[2019-11-03 23:44] Andarist commented on #1246
From what I know - most SSR solutions use different webpack settings for server and client builds and this is how this problem should ultimately be solved. If any particular SSR-solution doesn't differentiate this, it really should - so I would advise reporting this to those SSR-solutions as a thing they should handle.

[2019-11-03 23:44] #1246 closed

[2019-11-03 23:47] Andarist commented on #1241
This is basically why we believe `theme` should not be a core part of emotion. People want it though so it will stay here, but we don't plan to introduce any namespacing features to it. We believe that this can be cleanly handled through hooks as described here https://github.com/emotion-js/emotion/pull/973 . In the upcoming v11 you should use this approach for library-level themes, in combination

[2019-11-03 23:47] #1241 closed

[2019-11-03 23:51] Andarist commented on #1244
This is most likely caused by the fact that we use https://www.npmjs.com/package/csstype to type-check object styles and `string`s on those positions are not allowed because only a strict set of strings should be allowed there. You should either assign those objects to `CSSObject` from `@emotion/serialize` package or use const assertions.

[2019-11-03 23:51] #1244 closed

[2019-11-04 00:21] coreyward commented on #1552
I haven’t had a chance to try to extract it out, honestly.
On Nov 3, 2019, 4:19 PM -0600, Mateusz Burzyński <notifications@github.com>, wrote:

[2019-11-04 09:05] Andarist commented on #1243
Labels are extracted from a "plain" styles string - as you have interpolated one css class name into another you have ended with styles like this:
[code]
What I mean by "plain" string is that label extraction doesn't read this as CSS - it doesn't track nesting etc and it just gathers all labels available in the style string and concatenates them.

Labels are meant to be used just as a dev-only fea

[2019-11-04 09:05] #1243 closed

[2019-11-04 09:07] Andarist commented on #1239
We have not received any response since Februrary so I'm going to close this. Please do not be overly concerned with perf unless you really hit some bottleneck - emotion is quite fast (we care about perf).

[2019-11-04 09:07] #1239 closed

[2019-11-04 09:11] Andarist commented on #1235
To generate source maps we need to be able to target some AST nodes, we don't want to transpile every object in a file after all. `css` prop is a good candidate for auto-targeting because we know that this object is intended to be used as emotion styles. We can't automatically assess that for just any object returned from a function though - however, it's possible to get source maps for those, you

[2019-11-04 09:11] #1235 closed

[2019-11-04 09:12] Andarist commented on #1226
@JakeGinnivan could you take a look at this to see if your PR resolves this?

[2019-11-04 09:14] Andarist commented on #1234
To the extent of my knowledge, there are currently no issues with snapshotting components using css prop. I guess this was some kind of configuration mistake on OP's side. Can't quite be sure because no repro case has been given. If you manage to create such - please open a new issue and I will gladly take a look at this. Until then - I'm going to close this to keep the issue tracker clean.

[2019-11-04 09:14] #1234 closed

[2019-11-04 09:16] Andarist commented on #1218
The thrown error gives a good hint about what is wrong - most likely you didn't set up babel correctly to make interpolating styled components (as classNames) possible. If you provide a repro case I will gladly take a look and give you advice on how you should fix this - but until then I'm going to close this issue to keep the issue tracker clean.

[2019-11-04 09:16] #1218 closed

[2019-11-04 09:20] Andarist commented on #1213
Not sure why new version has been created back then but there were no changes between the previous one and this one: https://github.com/emotion-js/emotion/compare/emotion@10.0.6...emotion@10.0.7?expand=1

Currently, changelogs are automatically generated with the help of changesets so this shouldn't happen anymore.

[2019-11-04 09:20] #1213 closed

[2019-11-04 09:21] #1117 closed

[2019-11-04 10:20] gordonmleigh commented on #997
@defusioner Composition order doesn't seem to work with this approach.

[2019-11-04 12:13] JakeGinnivan commented on #1226
Yep, works fine.

[2019-11-04 12:18] Andarist commented on #997
@gordonmleigh what do you mean? Could you share repro case and actual/expected outcomes?

[2019-11-04 12:19] Andarist commented on #1226
🎉

Closing this issue as it will get resolved by https://github.com/emotion-js/emotion/pull/1501

[2019-11-04 12:19] #1226 closed

[2019-11-04 12:43] FezVrasta commented on #1342
@Andarist is this something we could address with v11?

[2019-11-04 12:51] Andarist commented on #1214
I see the problem in the code and I'll look into fixing this, but truth to be told I can't get it working with `jest-emotion@10.0.2` so I'm not sure if this has ever worked.

[2019-11-04 12:52] FezVrasta commented on #1214
I noticed this because a lot of project tests broken after the upgrade, so I'm pretty confident somehow it used to work.

[2019-11-04 13:55] Andarist commented on #1342
Maybe - I’m planning to look at it. Gonna add it to v11 milestone

[2019-11-04 14:34] gordonmleigh commented on #997
Turns out my problem was elsewhere, I was getting confused.

[2019-11-04 14:54] jmca commented on #1186
I don't have background as to why class name interpolations are being deprecated, other than possible composition issues, but I have been getting around this warning via _nested_ template strings. This prevents the `css` function from identifying the class name as a cached class. I haven't had any problems with this approach ..._yet_. Though something official would be super helpful without relyin

[2019-11-04 15:18] FezVrasta commented on #1186
I'm going to reopen this since I feel like it needs a proper answer.

This also looks related to #1192.

[2019-11-04 17:19] DesignerDave commented on #1264
Understood.

We need a custom instance to ensure that styles are prepended, not appended to the document `<head>`. When the styles are appended, it prevents applications consuming the library from overwriting Emotion styles, unless they over-qualify their CSS selectors.

Makes sense. Since this issue was written, we've adopted patterns to work with Emotion a bit more, rather than against it.

Than

[2019-11-04 18:28] Andarist commented on #1214
This is going to be fixed by https://github.com/emotion-js/emotion/pull/1604

[2019-11-04 18:28] #1214 closed

[2019-11-04 18:49] brettinternet commented on #1305
I hope this contributes to the discussion: I have found a similar issue with a Typescript project where I exported styled from a utility layer with a typed theme, as shown in the [Typescript documentation example](https://emotion.sh/docs/typescript#define-a-theme). Then, using `import styled from 'utils/styled'` I'd see this error when using nested component selectors, **despite using the babel pl

[2019-11-04 19:11] Andarist commented on #1204
Seems like this has been fixed by #1280 so I'm going to close this issue. If you still have any problems with emotion - please just open a new issue.

[2019-11-04 19:11] #1204 closed

[2019-11-04 19:13] Andarist commented on #1203
This will get fixed by https://github.com/emotion-js/emotion/pull/1220 which we should land this month. Closing this to keep the issue tracker clean.

[2019-11-04 19:13] #1203 closed

[2019-11-04 20:46] Andarist commented on #1199
The error happens on the server. On the server, Next.JS uses a custom `externals` function (https://webpack.js.org/configuration/externals/#externals) and it tries to keep everything from node_modules as external:
https://github.com/zeit/next.js/blob/8e62c9b688aa7a92e339b728237e8c63ec31f1b5/packages/next/build/webpack-config.ts#L475-L479
So basically this alias in webpack doesn't impact the server

[2019-11-04 20:46] #1199 closed

[2019-11-04 20:48] Andarist commented on #1197
@JakeGinnivan could you take a look at this? Seems like this should be solved together with https://github.com/emotion-js/emotion/issues/1249 and optionally with https://github.com/emotion-js/emotion/issues/1507 , right?

[2019-11-04 20:57] Andarist commented on #1196
@acnebs this is not quite true - you can define your styles outside of render and only call `css` with them as an argument inside the render callback, like here: https://codesandbox.io/s/emotion-z8jpe

That being said - we'll rethink how this problem can be handled right now. We are working on a v11, so we'd like to address problems like this. The solution is not obvious - so no promises yet, but

[2019-11-04 20:57] #1196 closed

[2019-11-04 21:05] Andarist commented on #1193
This is a "limitation" of React context - it's just impossible to provide a default value after creating the context and we need to create it upfront so we can consume it to provide it to you in interpolations etc.

For this and other reasons described here - https://github.com/emotion-js/emotion/pull/973 - we believe that theming really shouldn't be Emotion's concern. We will support it though fo

[2019-11-04 21:05] #1193 closed

[2019-11-04 21:10] Andarist commented on #1192
We don't plan to introduce support for anything like this. Even putting aside code complexity and performance penalty for doing anything resembling the proposed solution, we don't believe this would make a good design decision.

Emotion (as many other CSS-in-JS libraries) tries to avoid the cascade as much as possible to avoid strong coupling between components and this is what you propose here. W

[2019-11-04 21:10] #1192 closed

[2019-11-04 21:13] Andarist commented on #1186
Emotion (as many other CSS-in-JS libraries) tries to avoid the cascade as much as possible to avoid strong coupling between components and this is what you propose here. We believe that doing prop-based styling (limited to own props) leads to more maintainable styling overall.

We recognize the problem that there are not many practical examples in the documentation that would present solutions for

[2019-11-04 21:13] #1186 closed

[2019-11-04 21:17] Andarist commented on #1182
This is a "limitation" of TS - described by several people in this thread. You just have to "narrow" down the type of those object properties to things actually accepted by CSS (string is just too broad of a type for this). For this you can use in an example const assertions, assigning object to a `CSS.Properties` etc.

[2019-11-04 21:17] #1182 closed

[2019-11-04 21:20] Andarist commented on #1174
Thank you @vadistic for answering this! Personally I find this approach cleaner than what OP was attempting to do.

[2019-11-04 21:20] #1174 closed

[2019-11-04 21:38] Andarist commented on #791
After upgrading the linked repro case to v10 (and still using vanilla emotion) - all 3 tests have passed, so the issue seems to be fixed.

[2019-11-04 21:38] #791 closed

[2019-11-04 21:40] Andarist commented on #900
Implementing this is not overly complex - I encourage anyone interested in this feature to prepare a PR for this.

[2019-11-04 21:48] Andarist commented on #1061
The issue can also be "fixed" by wrapping your application within a CacheProvider component. Without it, the first emotion-based component has to create wrap its subtree within one - but obviously each sibling has to do it on its own (in such case) and this causes this duplication.

This is not a problem per se - just a tradeoff for things working "out of the box". Still, this can be easily "fixed

[2019-11-04 21:48] #1061 closed

[2019-11-04 21:55] Andarist commented on #1305
@brettinternet thanks for the feedback. Custom styleds etc are currently not handled by our plugin - this will get fixed by https://github.com/emotion-js/emotion/pull/1220 this month though, so stay tuned!

[2019-11-04 22:01] Andarist commented on #1115
The hotpink text in the docs was a bug which I believe was fixed.

We always appreciate any feedback and we care about accessibility, so if you notice anything off in the future - please raise a new issue.

[2019-11-04 22:01] #1115 closed

[2019-11-04 22:04] Andarist commented on #1137
After tinkering with this myself and consulting other people - I don't think `as` can be strongly typed. I have to close this as non-actionable and we have to consider this a limitation of TS+emotion. Unless of course somebody figures it out and prepares a PR for this.

[2019-11-04 22:05] Andarist commented on #1125
@FezVrasta is this still an issue?

[2019-11-04 22:06] Andarist commented on #1167
@JakeGinnivan could you check if this works with your typings? I believe it should

[2019-11-04 22:08] Andarist commented on #1153
Closing as this was an edge case and we've explained why this happens. Note that when using babel macros instead of `@emotion/babel-preset-css-prop` this wouldn't happen.

[2019-11-04 22:08] #1153 closed

[2019-11-04 22:14] Andarist commented on #1132
This got fixed in Parcel with https://github.com/parcel-bundler/parcel/pull/3334 - but I believe it has not yet been published (it's part of the upcoming Parcel 2). Either way - going to close this as the issue was in an external tool, rather in emotion itself and also workarounds have been found for this in the meantime.

[2019-11-04 22:14] #1132 closed

[2019-11-04 22:23] Andarist commented on #1120
This had to be a temporary issue - I've just tried this after doing a fresh clone and everything works as expected.

[2019-11-04 22:23] #1120 closed

[2019-11-04 22:53] robskidmore commented on #1199
Ah, that makes sense. Thanks @Andarist. I'll give it another go when I get the chance.

[2019-11-04 22:53] Andarist commented on #1264
Out of curiosity - how applications are supposed to overwrite your emotion styles which have hashes in then?

Great to hear that! I hope you like it.

[2019-11-04 23:00] mitchellhamilton commented on #1435
The reasoning for not fixing this automatically is because of the bundle size costs, I'm totally happy with making this an error in dev though

[2019-11-04 23:11] mitchellhamilton opened #1606 "Emotion 11"
We're planning to do a major version of Emotion soon, we don't have a definite timeline but it should be out before the end of the year, most likely earlier.

We don't currently have any massive API changes planned but there will be some package renaming which should be possible to migrate with codemods alone. (This isn't anything like the v9 -> v10 change)

The big changes that we are currently d

[2019-11-05 01:40] JakeGinnivan commented on #1167
PR opened with a test to verify it all compiles correctly.

<img width="979" alt="image" src="https://user-images.githubusercontent.com/453152/68171817-3df05b80-ffb0-11e9-8272-c74195b72b8f.png">

[2019-11-05 01:49] JakeGinnivan commented on #1197
I think we should do something like this

[code]

Then reference `Emotion.Theme` everywhere instead of `any` or the Theme generic.

To not break backwards compatibility the user should add (if they were relying on theme being an any atm)

[code]

Then in user land you add this somewhere to augment the global module.
[code]

I don't have time this week to prepare a PR for this but if someone wants

[2019-11-05 12:32] joltmode commented on #1197
May I suggest you introduce this for v11 @Andarist?

[2019-11-05 12:42] mvestergaard commented on #1197
@JakeGinnivan I could be wrong, but I think your suggestion may be limiting.

We use `material-ui`, so would like to expose the `Theme` type from there.
I don't believe you are able to modify an existing interface to extend another.

[2019-11-05 13:42] Andarist commented on #1197
@joltmode sure, we plan to add this in v11

@mvestergaard this should work just like anything else, shouldnt it? Do you see any problems with doing this?
[code]

[2019-11-05 14:47] nlrowe commented on #1186
Thank you for the info!

Completely understand this, as I do the same thing while building components no matter which CSS tool I am using with the emphasis on _**between components**_.

Just for a little bit of user perspective (albeit maybe an ignorant one) this is not what I would propose. I only use the cascade in styles for the same component, in the same file. And the component is the only th

[2019-11-05 15:46] joltmode commented on #1197
@Andarist my hint about v11 was to also add this issue to the milestone. :)

[2019-11-05 17:34] DesignerDave commented on #1264
We allow passing a string for a className to our components and compose them with `cx`, passing them last. If they use Emotion, the styles overwrite our emotion styles due to the order they're being composed in, and otherwise their className is simply added to the classlist normally. If a consuming application is using a standard CSS stylesheet, they would need to over-qualify the selectors if we

[2019-11-05 20:45] Andarist commented on #1587
This got fixed by https://github.com/emotion-js/emotion/pull/1588 (merged to `next` branch)

[2019-11-05 20:45] #1587 closed

[2019-11-06 00:54] JakeGinnivan commented on #1197
@mvestergaard I more was just throwing that out there as a suggestion. It's the one I have used so far with Express and a few other node libraries, but there may be more modern approaches as you suggest.

As mentioned in the above PR, I am unsure if global can be used in babel compilation?

[2019-11-06 01:21] jooj123 commented on #1204
@Andarist its only fixed for users of `jest-emotion` ? Is there a mocha solution that you know of ?

[2019-11-06 07:08] Andarist commented on #1435
Closed by https://github.com/emotion-js/emotion/pull/1611

[2019-11-06 07:08] #1435 closed

[2019-11-06 08:23] mvestergaard commented on #1197
@JakeGinnivan I may be wrong as mentioned. I just have some recollection of possible issues when trying to extend an interface defined in a package. So I just wanted it to be considered when this is worked on, so it isn't limited from the start.

This kinda thing shouldn't have any effect on babel compilation, since babel doesn't do type checking.

[2019-11-06 09:32] Andarist commented on #1197
Such things can have an impact on babel compilation because Babel doesn't really know what a type is and which referenced identifiers are types and which are runtime values. It just uses a number of heuristics to determine that. I think it only matters though in the case of imports - because it needs to remove or leave a particular import so it removes everything that is not referenced as runtime

[2019-11-06 15:58] eddiemf commented on #1186
I agree 100% with everything said by @nlrowe, especially this part which is an extremely common use case for me in most projects I develop.

As already said, no one is proposing tight coupling between different components by using the cascade, we're coupling internal styles of the component, which are already scoped, for convenience and also for maintainability, because I would argue that it's way

[2019-11-06 22:46] Andarist opened #1614 "Upgrade Babel-related deps"
I'd like to upgrade them as one Babel helper doesn't get correctly inserted with a reference to `@babel/runtime` package.

Wanted to just do it now, but don't want to get conflicts so I'd like to do it after landing https://github.com/emotion-js/emotion/pull/1575 . Leaving this here solely as a reminder for myself.

[2019-11-07 12:31] Andarist commented on #1167
This has been fixed by https://github.com/emotion-js/emotion/pull/1501 (although this will land in v11 - but hopefully this happens this month). In addition to that, a test is being added as part of #1607 so this will guard us against regressing on this one.

[2019-11-07 12:31] #1167 closed

[2019-11-07 13:57] Andarist opened #1616 "Create "patterns" sections"
Would be great to provide a documentation section with practical example on how we propose to handle various popular patterns which usually are solved by pseudo selectors, nested classes etc.

[2019-11-07 19:05] Vadorequest commented on #1440
Having a similar issue if I change `jest.config.js` as stated in the doc:

[code]

As soon as I add this, it breaks my tests

[code]

Tests were passing before adding a custom snapshotSerializers

[2019-11-07 19:49] Andarist commented on #1440
@Vadorequest could you share repro case?

[2019-11-07 21:08] Vadorequest commented on #1440
Will try to when I OSS my project... Trying to build a boilerplate with everything pre-configured. :)

[2019-11-07 21:38] mitchellhamilton commented on #1404
I'm not sure I totally understand this issue - Why don't you want to use cloneElement?

[2019-11-07 21:42] mitchellhamilton commented on #1559
I would be in favor of allowing this

[2019-11-07 21:47] mitchellhamilton commented on #1322
Sorry but I think we should leave the current behavior because the `emotion` package could be used outside of React and in places where you'd expect a string, the attribute also doesn't cause any problems so we would only be creating problems by changing this.

[2019-11-07 21:47] #1322 closed

[2019-11-07 23:43] Andarist commented on #1404
Hm, I can't figure this out either. I've adjusted the @coreyward's demo to use regular cloneElement and it works - https://codesandbox.io/s/emotion-jsx-fails-when-element-has-css-prop-xunqi . I've also created my own demo before doing that and also couldn't repro anything - https://codesandbox.io/s/restless-leaf-jlnby

@coreyward could you specify how those demos differ in functionality from what

[2019-11-08 00:11] mattwoodage opened #1617 "no grid support in IE - properties with -ms prefixed not generated"
How can i get -ms prefixes for grid properties to be generated?

Flex ones seem to work

`align-self: flex-end;`
generates
`-ms-flex-item-align: end;`

but
`grid-row: 2;`
does not generate
`-ms-grid-row: 2;`

grid has good support in IE.

what am i missing?

[2019-11-08 03:58] mitchellhamilton commented on #965
I think that this isn’t really a big deal anymore now that autoLabel is enabled by default. If anyone really wants to configure the macro still then please open another issue.

[2019-11-08 03:58] #965 closed

[2019-11-08 04:10] mitchellhamilton commented on #1465
I don’t think this is something we want to change. the reason that this is consistent in styled-components is that they pass props into the css prop whereas we don’t. Passing props into the css prop would require an extra object assign which we would rather avoid.

[2019-11-08 04:10] #1465 closed

[2019-11-08 04:30] jsejcksn opened #1618 "[core] Documentation of distribution formats"
I see this list of files:

 - `core.browser.cjs.js`
 - `core.browser.esm.js`
 - `core.cjs.dev.js`
 - `core.cjs.js`
 - `core.cjs.prod.js`
 - `core.esm.js`
 - `core.umd.min.js`

but don't see any documentation.

I understand that the `cjs` files are for CommonJS-style `require`, and I am _guessing_ that the `.esm.js` file is like `mjs` (for `import`ing), but what are the differences between the`brow

[2019-11-08 05:19] terryyu commented on #1465
Hi @mitchellhamilton thanks for taking a look! could you provide a simple code snippet about the extra object assign when passing props into the css prop?

You reminds me about another example, it would be nice if we can pass props into the css prop.
[code]
It feels natural to extract the style and make it common.
[code]
We can't do it with the current design.

[2019-11-08 07:10] Andarist commented on #1617
If it doesnt work then seems like this is not supported by the parser we use: https://github.com/thysultan/stylis.js . Could you report it over there?

[2019-11-08 08:38] Andarist commented on #1618
Yes, those work both in Node and with older bundlers. Root cjs entry (`core.cjs.js`) is just a proxy file to .dev and .prod because according to findings of the React team accessing `process.env` in Node is slow and we use it to differentiate production & development paths (where development includes helpful dev-only warnings and similar stuff). You can read about those findings [here](https://rea

[2019-11-08 08:46] Andarist commented on #1465
I believe that @mitchellhamilton just meant that `theme` for a css prop would have to be, somewhat artificially, wrapped in an object (if we would implement this). So internally instead of roughly doing this:
[code]
we'd have to do this
[code]

The given example is just impossible to implement. `css` prop lacks the context of ColorCard props, it's completely unaware of them. It could potentially b

[2019-11-08 09:11] jsejcksn commented on #1618
@Andarist Thanks for the descriptions; perhaps this can be incorporated into the documentation somewhere!

Now another question: When using core via a CDN in the browser with the `import` statement, which one is most appropriate? Based on your explanations: `core.browser.esm.js`?

[2019-11-08 10:19] mitchellhamilton commented on #1470
I'm good with this, @FezVrasta are you still planning to submit a PR?

[2019-11-08 10:42] mattwoodage commented on #1617
they don't support it and don't seem to be replying to the open issues.

[2019-11-08 12:55] Andarist commented on #1618
I don't believe we ship such file - the file you have mentioned is the closest but it has dependencies and a browser won't be able to resolve them until things like import maps land in browsers.

[2019-11-08 17:03] terryyu commented on #1465
@Andarist thanks for explaining!
I thought css prop and styled components are two interchangeable ways to work with predefined/imported styles. Now I realize they are designed with a little difference and constraints. Good to know!

[2019-11-08 22:43] jsejcksn commented on #1618
Notes for anyone else who finds this issue:

 - The [`preconstruct`](https://github.com/preconstruct/preconstruct) configuration page documents the [Build types](https://github.com/preconstruct/preconstruct/blob/294e12c85b892cb905e99de3d82bfcd6b27d9403/site/src/pages/configuration.mdx#build-types)

 - The spec for the webpack alias field `browser` is here: [defunctzombie/package-browser-field-spec

[2019-11-09 10:09] Andarist commented on #1614
closed by #1621

[2019-11-09 10:09] #1614 closed

[2019-11-09 10:53] Andarist commented on #1618
Oh, so there is already documentation around this in preconstruct. That's cool.

I would split this into 2 PRs:
- one for preconstruct - it could include info about why CJS format is coming with 2 extra files (prod & dev) and it could also mention optional browser builds
- one for our documentation - I think this could maybe add a top-level FAQ section with a subsection of "Build types", that woul

[2019-11-09 19:17] peduarte commented on #1272
@Andarist That's not really true. It's not a Styled System issue, per se.

The issue is if you try type a prop which also happens to be a HTML Attribute.

For example, say you have an `input` component, and you want  that to accept a `size` prop, and you want that to be of type array of strings or numbers (don't ask why 😛), then you get this type checking conflict.

[2019-11-09 20:52] Andarist commented on #1272
This is not a valid thing to do in emotion though (with default options). `size` will get passed onto underlying `input` element (in this example and unless you are using custom `shouldForwardProp`) which will result in an invalid value being set on as HTML attribute.

This indeed can be tweaked at runtime (with mentioned `shouldForwardProp`) - but supporting this at type level seems like bringing

[2019-11-09 22:42] jsejcksn commented on #1618
@Andarist I still don't understand your meaning regarding the PR. You are much more familiar with this repo than I am, so I'm not sure what you're looking for without provision of:

 - direct links to which README files to edit
 - organization of information (maybe an outline?)

[2019-11-10 11:34] Andarist commented on #1618
As to preconstruct - I would edit this one:
https://github.com/preconstruct/preconstruct/blob/294e12c85b892cb905e99de3d82bfcd6b27d9403/site/src/pages/configuration.mdx#build-types

As to in emotion's docs - add FAQ top section in [here](https://github.com/emotion-js/emotion/blob/b81d652e70c8c421aae24e8fb357be6ff16143f0/docs/docs.yaml#L32) + "Build types" item. Just follow how other sections are cr

[2019-11-11 00:31] JakeGinnivan commented on #1272
@Andarist created a PR with a potential solution. It's another overload so it shouldn't increase compile time for those not using the feature? That is untested though

[2019-11-11 12:44] peduarte commented on #1272
@Andarist yeah I totally get what you mean. In a way, it feels like we shouldn't be creating props that clash with DOM Attributes. And that is what Styled System does by default, for example, `color` in a `p` element.

[2019-11-11 14:23] snirp commented on #1552
Not sure if this is same exact error, but my Gatsby build also seems to have hash collisions between emotion classes. Specifically I defined an emotion component named `Content` in three different components.

I noticed that the wrong styles were being applied in the production builds. This was not an issue in development.

My code is on a private repo, but I think I can make a simple public proof

[2019-11-11 14:55] Andarist commented on #1552
That would help tremendously.

[2019-11-11 15:00] snirp commented on #1552
Ok, hold on. For now it seems to make all the difference to wrap my page components in a `<div>` instead of a `<>` (React fragment).

[2019-11-11 15:33] nlrowe opened #1626 "Vanilla Emotion Cache Configuration"
please use [Stack Overflow](https://stackoverflow.com/questions/ask?tags=emotion).

Question has been posed in both SO and Spectrum with no takers yet:
https://stackoverflow.com/questions/58715409/how-do-you-configure-vanilla-emotion-cache
https://spectrum.chat/emotion/help/vanilla-emotion-cache-usage~ca211787-75f5-47b2-a1ac-f5034cece5d6

**Description:**
I am currently using vanilla Emotion in a

[2019-11-11 15:43] snirp commented on #1552
Here is a proof of concept. It is derived from the starter template and wraps two page components inside a Layout component (in gatsby-browser.js).

https://github.com/snirp/emotion-issue-1552

[2019-11-11 15:47] snirp commented on #1552
Notice that the result is different for `gatsby develop` and `gatsby serve`. The develop build correctly applies the Red component in the layout and the Big component in each of the pages. The production build appears to have a collision, where the class of the Big component is applied instead of the Red component.

Hope this makes sense. Perhaps best observed by running both versions.

I created

[2019-11-11 16:45] Andarist commented on #1552
Thank you 🙏 I’ll try to look into as soon as I can

[2019-11-11 17:47] topaxi commented on #821
One thing that isn't noted here is that `attrs()` allows to map props.

[code]

Usage without providing a function doesn't necessarily give any value over the defaultProps approach.

[2019-11-11 22:27] Andarist commented on #1552
Your issue is different - you have set up your Gatsby project wrong way. As per documentation - https://www.gatsbyjs.org/docs/api-files-gatsby-browser/ - when implementing `gatsby-browser.js` you most likely should also implement `gatsby-ssr.js`. You have to consistently export the same `wrapPageElement` from them.

I don't quite understand why you were not warned by React about SSR/client mismatc

[2019-11-11 22:30] Andarist commented on #1626
Yes, you are supposed to use `create-emotion` package in such a case. As mentioned on the bottom of that page `createEmotion` accepts pretty much the same options as `createCache` and they are all documented here - https://github.com/emotion-js/emotion/tree/master/packages/cache#options

[2019-11-11 23:03] Andarist commented on #1578
@genevieveloreal friendly 🏓 I would appreciate feedback on the given information and I'm wondering if it has helped you to understand how things are working right now.

[2019-11-12 00:14] patsissons commented on #839
@damathryx not much you can do here, the two types are not compatible as defined and there is no real way to infer structure from the seralized form. you can either type cast down to `{}` or you can redefine the `css` export to return `{}` (if you never care about serialized properties). For the latter strategy you can replace `export {css}` with

[code]

Alternatively, I have been using this util

[2019-11-12 00:53] Slapbox commented on #1066
Personally, I'm still completely confused about keyframes. I've been trying to implement a single one for hours across multiple days.

I've tried using them in every way I can conceive of, but every outcome is one of the following:

- `_EMO_ 10s: ;`
- `false: ;`
or
![image](https://user-images.githubusercontent.com/6835891/68630802-8202c500-04b6-11ea-8f51-f903526ec3e9.png)

or

![image](https://us

[2019-11-12 08:42] snirp commented on #1552
Ah ok, that could explain. Thanks for going above and beyond and helping me out and sorry for messing this issue up.

[2019-11-12 10:11] Andarist commented on #839
@patsissons would you maybe be interested in helping to prepare a PR with official typings those packages based on what we currently have on the `next` branch?

[2019-11-12 10:26] Andarist commented on #1066
This should work:
[code]

It's important to always wrap your string styles with `css` for various reasons:
- prettier formatting
- babel plugin optimization
- this issue with `keyframes`

[2019-11-12 21:34] Slapbox commented on #1066
Thanks for your reply @Andarist!

That the specific code I posted was the only code that generated the expected developer warning - specifically commenting the line out. I tried a bunch of combinations, too many to make sense to list out.

Using the code you posted as a reference I tried the following code, but I get the same results. Have I got something wrong here? I had the same results when in

[2019-11-12 23:08] Andarist commented on #1066
Could you share a repro case? Hard to be sure without looking at the actual code.

[2019-11-13 01:16] Slapbox commented on #1066
@Andarist I discovered while making the repro that I wasn't wrapping one level of template strings with css````. I see my mistake in thinking now. There were a cases where it didn't click that I needed `css`.

[2019-11-13 18:42] ruifortes opened #1629 "Can't pass array to css prop"
Hi.
I'm having trouble passing an array to css prop.
This is the webpack message: "Module not found: Error: Can't resolve '@emotion/css' in ..."

Can someone try to reproduce it? Is this a bug?
Here's a sample:

[code]

Thanks

[2019-11-13 18:57] FezVrasta commented on #1629
Looking by your code snippet, both should work (or don't), may you provide a CodeSandbox example like explained in the issue template please?

[2019-11-13 19:15] ruifortes commented on #1629
I don't know how to user babel plugins in codesandbox.
It works fine with the pragma but I'm using @emotion/babel-preset-css-prop preset

https://codesandbox.io/s/dazzling-benz-39frt?fontsize=14&hidenavigation=1&theme=dark

[2019-11-13 19:32] FezVrasta commented on #1629
Feel free to prepare a small GitHub repository where the issue can be reproduced. Otherwise maybe you could wait for some of the maintainers to take a look at the issue and see if they can recognize this kind of problem, but it's gonna take some time.

[2019-11-13 20:45] nlrowe commented on #1626
@Andarist Thank you for the quick response! I'd like to pick your brain for a follow up, if I could.

From what I understand from that documentation this import will create an instance of `emotion`:

`import {css} from 'emotion'`

Also from that documentation, if I want to configure emotion as stated above, I need to make my own call to `createEmotion` which will create my own instance of `emotion

[2019-11-13 20:50] Andarist commented on #1626
Well, this kinda depends on how your widget and component library ties together. It's really hard for me to answer this without knowing more details. Could you maybe join our Slack and ping me there so we can discuss it there?

[2019-11-13 20:52] Andarist commented on #1629
Using `pnpm` can be a "culprit" here - we'd like to of course fix it, but to make it easier for us we'd really appreciate a repro case.

[2019-11-14 04:22] patsissons commented on #839
@Andarist i created a branch and added some (cleaned up) types to it. also turns out that all of that `css` stuff is unnecessary since under the hood `react-native` calls to `css` just invoke `Stylesheet.flatten` so i've adjusted the types to reflect that. Shall i fork or contribute directly?

for those not on the `next` release, here is the updated `css` type.

[code]

[2019-11-14 04:28] patsissons commented on #839
@imcvampire i cleaned up the types that i had originally posted with a better mapping pattern, this may solve or at least give you more context why there is an error. Below are the types that i have changed.

[code]

[2019-11-14 06:43] imcvampire commented on #839
@patsissons Thank you! It works great for me!

One more request, do you have any correct typing for `css` function?

Thank you!

[2019-11-14 08:50] Andarist commented on #839
That would be sweet - just fork from `next` branch and send us a PR. We'd love to get this merged in. The types should be written fairly in the same manner as refactored typings for `@emotion/styled` (available on `next` branch) - this should make maintenance and interoperability easier.

[2019-11-14 21:03] mitchellhamilton opened #1635 "RFC: Package renaming"
To reduce the current confusion, I’m proposing that we rename some packages as part of Emotion 11. Below is a summary of what the packages would look like with the renaming, this will likely be in the docs. At the bottom is a summary of the renames.

### @emotion/react
Contains the react-specific version of Emotion. use this if you’re using React. Has different functionality and APIs from @emotion

[2019-11-14 21:10] tkh44 commented on #1635
I like it! Should make it much easier to figure out which package to import and whats being imported at a glance.

[2019-11-14 21:10] mitchellhamilton commented on #1342
I just opened  #1635 with some proposed name changes that are very close to what is proposed here so I'm going to close this issue, keen to hear to what people think of the proposed changes.

Thanks for opening this issue @ianstormtaylor, I'm sorry it took so long to address.

[2019-11-14 21:10] #1342 closed

[2019-11-14 21:27] Andarist commented on #1635
Really like it! I'd consider `@emotion/vanilla-css` in place of `@emotion/css` for a current `emotion` package, but I also don't have that much of a problem with `@emotion/css`.

We'd definitely need codemods for those to ease the migration.

[2019-11-14 21:31] mitchellhamilton commented on #1635
I was considering `@emotion/vanilla` but ended up choosing `@emotion/css` because `@emotion/vanilla` kinda implies that it's specifically for vanilla js but it could also be used with another framework so vanilla isn't really correct.

💯

[2019-11-14 21:34] Andarist commented on #1227
Package renaming RFC has just been opened (#1635) - we are open for any feedback. At the same time, theme stuff is being moved into what is currently `@emotion/core` so that would "fix" this issue by just removing `emotion-theming` entirely 😅

[2019-11-14 21:34] #1227 closed

[2019-11-14 21:36] Andarist commented on #1512
RFC has just been opened #1635 with some proposed name changes, I'm going to close this issue, but we are very keen to hear what you think of the proposed changes.

[2019-11-14 21:36] #1512 closed

[2019-11-14 21:38] Andarist commented on #1635
It's not that it can't be used with any other framework, but rather than it works with everything because it just returns "vanilla" class names 😅 I'm just a little bit worried that people will still be a little bit confused about us having 2 `css` functions - however those proposed changes make it A LOT easier to understand what is supposed to be used when.

Also - cc @genevieveloreal @geddski - h

[2019-11-14 21:44] tkh44 commented on #1635
@Andarist my ultimate goal with v11 is to make @emotion/css and @emotion/react `css` calls the same and return classNames. @mitchellhamilton and I have been discussing the initial ways of doing this and I think this will ultimately clear up any confusion over naming choices.

The `css` call should return a className that can be used anywhere and used in composition as well (aka on css prop).

[2019-11-15 01:46] ianstormtaylor commented on #1635
Most of them seem like good changes to me.

The only two that still aren't clear enough I think are:

- `@emotion/native` being for the React Native bindings for the Styled Components API isn't clear. It should be `@emotion/styled-native`.

- `@emotion/primitives` I still don't understand what the package contains, even after reading the description for what it is. Seems it has to do with React Na

[2019-11-15 03:50] bradleyayers commented on #1105
@Andarist I've tried using the comment but it silently breaks the CSS in some cases, e.g.

[code]

[2019-11-15 04:53] mitchellhamilton commented on #1635
This isn't really true, it also has a css function like `@emotion/css`/`@emotion/react`

It's essentially the same as @emotion/native but for [react-primitives](https://github.com/lelandrichardson/react-primitives)

[2019-11-15 05:48] elektronik2k5 commented on #1635
Thanks for working on this! :) Here are some of my thoughts on this subject:

As an Emotion user (and proponent!) I think this calls for a chart/graph/table, because of the sheer amount (14 today and proposed 9 packages in the future!) and partial overlap between the different features, flavors and runtimes.
It's just too much information to represent in a flat textual manner. 🤯

I also think that

[2019-11-15 09:51] FezVrasta commented on #1635
Shouldn’t it be @emotion/react-styled?

[2019-11-15 11:41] MAmin233 opened #1637 "Does emotion support dynamic styling"
**it can be a great feature if we can update component styles dynamically**
i need a way to update component style as we update the state or props
however it can be a great feature for creating dynamic animations

if a code like below could work it was fantastic but it don't
[code]
as we know it's not possible in that way by using setState function because it's style rendered and added before the

[2019-11-15 12:14] FezVrasta commented on #1637
styled components can read their own props:

[code]

[2019-11-15 12:14] #1637 closed

[2019-11-15 12:37] Andarist commented on #1105
@bradleyayers this is a bug in the parser we are using, I've reported it there https://github.com/thysultan/stylis.js/issues/152

[2019-11-15 12:39] Andarist commented on #1637
It's also totally possible to do this without styled API. Truth to be told - what you are asking in the issue should already work (with a given code snippet). If it doesn't then please create a repro case that we could inspect (and most likely help you to find a problem in your code).

[2019-11-15 15:17] defusioner commented on #1635
@tkh44 Am I right when I'm saying that `emotion` and `@emotion/core` css functions are two different functions with different return types and if I want to use my component as I was using before (`className={css.root}`) with emotion, I need to perform some black magic?

[2019-11-15 15:54] Andarist commented on #1635
If u want to get string class names then just use emotion over @emotion/core. No black magic in that.

Could u specify what's the problem with theming? Preferably with a code sample?

[2019-11-15 16:10] defusioner commented on #1635
@Andarist I have a shared components library. Here is one component:
![image](https://user-images.githubusercontent.com/7025961/68956762-fd22ee80-07c8-11ea-919f-02eaf9bffd04.png)

As you can see, I prefer exporting all my styles to a specific file - this makes the code MUCH cleaner...:
- I'm still using a simple css without camelCase css properties and no custom `css` prop
- This css is scoped tha

[2019-11-16 02:31] geddski commented on #1635
I'm very glad to see this being discussed! I like the move of everything into `@emotion/` namespace. I do think there are still too many packages though. [GSAP](https://greensock.com/gsap/) library used to have this same problem - it wasn't obvious when to use `TweenMax` or `TweenLite` or `TimelineMax` etc. In v3 they simplified everything into a single `gsap` package.

Maybe emotion could do some

[2019-11-16 03:25] ktalebian commented on #1573
@volkanunsal I'm getting the same thing, but my stacktrace is showing

[code]

which made me think it's emotion - was your different? How did you fix yours?

[2019-11-16 23:25] Andarist commented on #1474
This is being addressed in https://github.com/emotion-js/emotion/pull/1639 . Keep in mind that this:
[code]
won't receive source maps. Similarly to how the same doesn't get source maps in case of `css` prop.

You can also fix both cases right now by wrapping those objects with `css`, that way we know for what stuff to actually generate source maps.

[2019-11-16 23:25] #1474 closed

[2019-11-16 23:50] trisys3 commented on #1474
I have for sure gotten source maps with a variable in the `css` attribute, and the map pointed to the variable, which is what I would expect. I don't have an example handy, but when I go back to one of my computers I will find one.

[2019-11-17 07:58] Andarist commented on #1474
I might have assumed something based on what i have seen in the code while working on the linked PR. If you could create an example of this being supported for css prop I would highly appreciate it.

[2019-11-17 13:55] karfau opened #1640 "Types: Missing overload for default export from @emotion/styled ?"
### The problem

I wanted to generate types for rebass modules using the existing js files (for more details read the [Additional Context](#additional-context) section).
But the way the rebass lib [uses](https://github.com/rebassjs/rebass/blob/a2b869a1824028e9d52d76ce99be3ac51f9774e9/packages/reflexbox/src/index.js#L27-L45) @emotion/styled doesn't seem to be supported by the current types, when ru

[2019-11-17 21:48] Andarist commented on #1640
Hi! Current typings (on master) are less than ideal - we have improvements in the works though. They are available on the `next` branch. Could you try them out to see if you are able to build rebass typings on top of them?

[2019-11-18 04:27] justingrant commented on #1303
FYI for other folks arriving here from Google, I also ran into this error when using `<>` which is the shorthand syntax for `<React.Fragment>`.  The `<>` syntax is currently not compatible with emotion 10's `css` prop. To work around the problem, use `<React.Fragment>` instead of `<>`.

For more details, see https://github.com/yannickcr/eslint-plugin-react/issues/2156 and https://github.com/emotio

[2019-11-18 04:31] justingrant commented on #1549
@shakib609 @Andarist - I think that the issue tracking this problem is https://github.com/yannickcr/eslint-plugin-react/issues/2156.  I added [this comment](https://github.com/yannickcr/eslint-plugin-react/issues/2156) to the end of that issue.

P.S. - Anyone ending up here from Google, the workaround is simple: use `<React.Fragment>` instead of the shorthand `<>` syntax.

[2019-11-18 07:51] karfau commented on #1640
Hi, I tried to switch just `@rebass/reflexbox` to `@emotion/(core|styled)@11.0.0-next.5` from the package repository and the error message didn't change.

Here is the exact output (using typescript 3.7.2):

[code]

One more detail: I just verified that the problem is in the "second half" of the expression.
by extracting `styled('div, {shouldForwardProps})` into an own const the returned value is i

[2019-11-18 09:03] grncdr commented on #1617
I [shared a Stylis plugin](https://github.com/thysultan/stylis.js/issues/119#issuecomment-463539789) in their issue tracker last February, but the reality is that getting full grid support in IE11 is a *lot* of work and I didn't need it.

The biggest hurdle is that auto-placement of grid items requires "whole stylesheet" knowledge, which Stylis does not make easily available. There are some inform

[2019-11-18 09:35] grncdr opened #1641 "v11 types: new shouldForwardProp type is overly restrictive"
**Current behavior:**

I have been trying out the new @next tags, and have run into a type error with code that previous type-checked and worked. I'm fairly certain this is due to the changes in https://github.com/emotion-js/emotion/pull/1624

The `shouldForwardProp` option is now inferred to being of type `(prop: keyof Props) => prop is ForwardedProps`. But this restricts `prop` to being one of t

[2019-11-18 09:37] grncdr commented on #1641
cc @JakeGinnivan

I don't think this issue is very severe: one can explicitly annotate the `shouldForwardProp` callback to work around it:

[code]

[2019-11-18 10:09] Andarist commented on #900
I've implemented this in https://github.com/emotion-js/emotion/pull/1642 and it's going to be released in v11.

[2019-11-18 10:09] #900 closed

[2019-11-18 10:12] Andarist commented on #1404
According to our tests, this "just works" when using plain `React.cloneElement`. Because we have not received any answer from the OP I'm going to close this assuming it's not an issue. If you provide a repro case for this please open a new issue and I will gladly take a look at it. Hope you understand.

[2019-11-18 11:44] Andarist commented on #1640
It would be great if you could share the updated version of this so we could inspect the repro case quickly (without setting things ourselves - which we could mess up).

[2019-11-18 12:21] JakeGinnivan commented on #1641
Ah I see, the prop is added to the types *after* the create styled. Good point.

Thoughts on if it should allow `string` or `PropertyKey`. I guess that comes down to if my type had symbol/number based keys, would isValidProp be able to handle it.

[2019-11-18 12:23] Andarist commented on #1641
`string` is IMHO fine, both numbers and symbol are technically allowed, but I havent ever seen them used as props keys

[2019-11-18 12:27] JakeGinnivan commented on #1641
Giving it a go, `PropertyKey` is actually simpler from a types point of view. Otherwise I need to use `Extract<keyof Props, string>` instead of `keyof Props`

[2019-11-18 12:44] flakesrc opened #1644 "Emotion does not create style tags using Next.js"
What happened before: I used `css` to add styles, which creates a class for the element and also injected the styles into` <head> <style> `..., now using next.js, it doesn't but instead, I think the style is being injected through js files, and that gives me a problem: the styles are applied after the component appears on screen, so in my case I have a really big image , and I use emotion to set `

[2019-11-18 12:53] Andarist commented on #1644
Seems like you didn't setup SSR correctly. Which `css` are you using? The one from `emotion` or from `@emotion/core` package? Have you tried doing any SSR-integration? Could you share how your setup looks like?

[2019-11-18 12:55] flakesrc commented on #1644
i'm using `import { css } from "emotion";`, and in `next.config.js` i only have others settings:
[code]

this is to use .scss file (other styles that i not use with emotion)

[2019-11-18 13:02] Andarist commented on #1644
You need to look into integrating with this API:
https://emotion.sh/docs/ssr#extractcritical
and also using this on the client:
https://emotion.sh/docs/ssr#hydrate

SSR usually requires some additional setup (especially when you are using `emotion` package and not `@emotion/core`)

[2019-11-18 13:03] flakesrc commented on #1644
edit: i add "emotion" in plugins in the .babelrc file, now i have the style tags, but he problem keeps happening, watch this video

[2019-11-18 13:04] flakesrc commented on #1644
https://vimeo.com/373898593

[2019-11-18 13:26] Andarist commented on #1644
Babel plugin, as far as I know, is completely irrelevant here. The important part is that there are no SSR-ed emotion-related style tags, which is easily inspectable by viewing your site's source: view-source:https://webstation.dev/ . This means that you have not setup emotion correctly, especially on the server. You need to make use of linked APIs

[2019-11-18 13:28] flakesrc commented on #1644
Well, the only thing I noticed is that now I have `style` tags. And in the next sample repository, they just add emotion to the plugins, I didn't see any extra settings. I am completely noob about this, what should I do then? I'm committing source code, if you find it helpful to try to help me.

[2019-11-18 13:30] flakesrc commented on #1644
https://github.com/flakesrc/webstation.dev/

the problem is in sections/presentation

[2019-11-18 17:30] jonavila commented on #1046
For anyone still wanting to use Typescript + Emotion 10 without having to import `/** @jsx jsx */` on every file, here's what I've done:

1. In my webpack config, I added babel-loader to my tsx rule. I used this because I wanted the output of ts-loader to be handed over to babel so that the `@emotion/babel-preset-css-prop` can do its magic.
[code]
Note: Webpack loaders are applied from right to le

[2019-11-18 19:04] Andarist commented on #1046
Do whatever works for you - but this can hardly be called a minor change to existing setups. Using jsx pragma explicitly means that you don't have to do **anything** special to satisfy all the tooling that wants to understand JSX etc except adding a custom pragma because support for it is backed into nearly all the tooling. 🤷‍♂

[2019-11-18 19:21] Andarist commented on #1644
This example https://github.com/zeit/next.js/tree/master/examples/with-emotion-fiber shows how to do what you are trying to do.

[2019-11-18 19:43] jonavila commented on #1046
@Andarist Correct me if I'm wrong, but one of the main use cases for the babel preset or the babel plugin is to avoid having to add the jsx import and the pragma at the top of each file where you want to use the css prop right? My comment simply shows a way that you can use the plugin with Typescript. That's all.

[2019-11-18 20:41] Andarist commented on #1046
As to `@emotion/babel-preset-css-prop` - yes, but it has been created only because people were complaining about having to add pragma "manually" (where it can even be automated with eslint plugin, but with it it's still there - it's explicitly used).

As to `babel-plugin-emotion` (the primary one) - no. Its purpose is to generate source maps, labels, optimize few things and similar stuff. It doesn

[2019-11-18 21:02] jonavila commented on #1046
@Andarist Yeah, my bad. Just the preset. Which in my opinion is great and listed as the first option in the docs. It took me a while to figure why it wasn't working with Typescript, but like you said, it's the setup that works for me and may not be the best for everyone. I'm in the process of convincing my team to move from styled-components to emotion and I wanted it to be as simple as possible f

[2019-11-18 22:01] Andarist commented on #1046
No problem - I'm just always rather surprised how strongly people react to the whole custom pragma thing.

Your comment can be certainly helpful for others trying to do the same 👍 I just don't understand why people want to go through such hoops 😅 IMHO the ROI is just low for this one, but that might be just me.

[2019-11-19 12:53] zouxuoz opened #1646 "Property name validation doesn't work correctly"
**Current behavior:**

[code]

**To reproduce:**

Run tests here: https://codesandbox.io/s/emotionis-prop-valid-onanyinvalidpropname-gvl0z

**Expected behavior:**

The package should contain a list of names of all `on` handlers and use it for validation.

[code]

**Environment information:**

- `@emotion/is-prop-valid` version: 0.8.5

[2019-11-19 22:49] Andarist commented on #1646
We don't plan to include a whitelist for all possible DOM events - we believe that `on` prefix (followed by an upper case letter) is enough to be considered a "valid" prop in this context. I don't see why you would like to use such prop **just** for styling purposes without forwarding it to the wrapped component.

[2019-11-20 04:55] karfau commented on #1640
ping (just in case the above commit didn't trigger any notification): the fork has been updated with your suggestion. And I also checked that they have been applied as expected.

So steps to reproduce:
[code]

[2019-11-20 07:24] Andarist commented on #1640
Thanks for the ping - referencing the issue from a commit didnt trigger any notification. I’ll try look into it this week

[2019-11-21 12:06] ruifortes commented on #1629
Yes, it seams pnpm symlinks might be messing thing up a little.
Heres a link to the test repo: https://github.com/ruifortes/issues_emotion-pnpm

[2019-11-21 22:42] vitaliiznak opened #1647 "[Question]: insertion point of emotion styles. Another component library overrides react emotion rules"
I use Ant design components along with react-emotion.
I am ending up with the situation when sometimes ant design styles are added after emotion styles within page <head>tag like.
[code]
```antd``` is added through ```babel-plugin-import``` so it adds styles as needed on component import.
Anyone has an idea how to fix this?
Is it possible to specify insertion point  when working using libraries li

[2019-11-22 04:00] frankdilo commented on #1105
any update on this?

[2019-11-22 09:23] Andarist commented on #1105
@frankdilo

are you asking about this?

If yes - then you can either use suppressing comment or wrap your application within a CacheProvider from emotion package (or just a custom cache created with `@emotion/cache` with a `compat` flag set on it).

[2019-11-22 09:39] frankdilo commented on #1105
@Andarist yeah was referring to that, having an hard time figuring out how to do what you suggested

[2019-11-22 21:05] Slapbox opened #1649 "Importing an Emotion style partial from a separate module yields improper results, but importing from file works"
**Current behavior:**

Importing a style partial from another module in Webpack environment leads to invalid style output, but importing from a local file works fine.

**To reproduce:**

I'm using Webpack and Babel. I've searched as thoroughly as I can for a cause to this issue, but I've found no leads. The main project and the module I'm trying to import from are both within a single Lerna monore

[2019-11-22 22:46] Andarist commented on #1649
Emotion is totally unaware of your imports - this is a clear indication that your issue is not caused by emotion as emotion just receives a value in the runtime and has no idea about its origin. It just processes what it gets.

I could help you debug this - if you provide a repro case, can't do much without it.

[2019-11-22 23:05] Andarist commented on #1105
Option 1
[code]
Option 2
[code]
Option 3
[code]

[2019-11-22 23:29] Andarist commented on #1629
Ok, I see the problem. I have a piece of bad news and a piece of good news - the bad news is that we are unable to fix it, the good news is that we have already fixed it in https://github.com/emotion-js/emotion/pull/1600 😉 The fix is going to only hit upcoming v11 though, we can't easily backport it to v10.

v11 is very much usable (this change has not been released yet, but if you like - I can do

[2019-11-22 23:43] Andarist commented on #1647
You can control container where emotion will inject its styles - but they are always inserted after last inserted (emotion) style element. So if any external style gets injected after emotion style tag, emotion wont insert its next style tag after it but rather will keep inserting after its own style tag.

You could configure emotion's container to be `document.body` - which sounds hacky, but it w

[2019-11-23 00:57] frankdilo commented on #1105
Thanks, this did not work for me because I am using emotion inside a library, but hinted me in the right direction. What would be the best approach to silence those warnings for a library?

[2019-11-23 01:23] Slapbox commented on #1649
Thanks for the response @Andarist. I'll continue to search on my end and re-open if I still can't come up with anything.

[2019-11-23 01:23] #1649 closed

[2019-11-23 07:34] Andarist commented on #1105
Are u a library author or its consumer?

[2019-11-23 09:11] frankdilo commented on #1105
Author (it’s a private library only user for client side rendering)
On 23 Nov 2019, 15:34 +0800, Mateusz Burzyński <notifications@github.com>, wrote:

[2019-11-23 09:14] Andarist commented on #1105
Then I would go with option 1 as it allows for a low-level control over this for library authors.

[2019-11-23 12:32] frankdilo commented on #1105
That’s what we did in the end. Thanks.

I suggest to change that comment flag name (it’s too verbose and annoying to use if you have multiple instances of first-child).
On 23 Nov 2019, 17:14 +0800, Mateusz Burzyński <notifications@github.com>, wrote:

[2019-11-23 17:01] Iuriy-Budnikov commented on #1462
Update to 12 doesn't resolve an issue

[2019-11-23 17:22] Andarist commented on #1462
Please create repro case and then please create a new issue for it.

[2019-11-24 12:59] vitaliiznak commented on #1647
@Andarist
Thanks, it may help
But, how can I configure emotions style containers?
Are you talking about this configuration [docs/@emotion/cache#container](https://emotion.sh/docs/@emotion/cache#container)?
it is used with CacheProvider from `@emotion/core` and it doesn't seem to work with framework-agnostic `emotion` configuration

[2019-11-24 14:53] Andarist commented on #1647
Basically the same configuration can be used in combination with `create-emotion` which you have to use instead of the default emotion’s instance

[2019-11-24 22:06] #1647 closed

[2019-11-25 10:36] Andarist commented on #1646
Closing because we don't plan to change this and OP has not answered back to a previous comment.

[2019-11-25 10:36] #1646 closed

[2019-11-25 10:57] Andarist commented on #1641
We believe this got fixed by https://github.com/emotion-js/emotion/pull/1643, once we release a new version please take a look to check out it this resolved your issue.

[2019-11-25 10:57] #1641 closed

[2019-11-25 14:22] ILovePug opened #1652 "css functions only applied twice within component selector"
**Current behavior:**

When using css function multiple times within component selectors, the styles are only applied for the first two component selectors.
For this example, ideally all four colors should turn black but only the first two are black.
[code]
![Screen Shot 2019-11-25 at 9 16 23 AM](https://user-images.githubusercontent.com/19334427/69547875-524ac700-0f64-11ea-9e76-500e8f5d4902.png)

[2019-11-25 17:27] Andarist commented on #1626
We've discussed this on our Slack and I'd like to post an "answer" for any future readers here.

The use case described is to have a regular component library - rendered by its consumer inside the shadow DOM.

The easiest solution for that is to build that component library using `@emotion/core` APIs, wrap you shadow content with CacheProvider component and use that library as normal inside the sh

[2019-11-25 17:27] #1626 closed

[2019-11-25 17:37] Andarist commented on #1640
I've started looking into this. I see the error, but I'm wondering about one thing. Are you trying to generate types here from vanilla JS file?

[2019-11-25 18:09] karfau commented on #1640
Yes, exactly:

They are also generated, but when there is an error like the one I described it just put's `any` as the type, which is not very helpful.

[2019-11-25 20:26] Andarist commented on #1559
This was implemented in https://github.com/emotion-js/emotion/pull/1651 and will be included in upcoming v11 release

[2019-11-25 20:26] #1559 closed

[2019-11-25 20:34] Andarist commented on #1015
This would add bytes to SSRed output and as we in general discourage use of selectors like this we don't feel like implementing this. You should be able to easily add this on your side using Global component.

Sorry that you had to wait for an answer so long. Hope you understand.

[2019-11-25 20:34] #1015 closed

[2019-11-25 22:56] Andarist commented on #1652
Based on your report I've identified a bug in the parser we use and reported a problem there https://github.com/thysultan/stylis.js/issues/154 . It might be hard to fix there though.

At the same time, I've found a workaround for you - which of course is not ideal, but can be used in the meantime:
[code]

And it also possibly has uncovered a problem with source map being slightly incorrect sometim

[2019-11-26 00:57] ILovePug commented on #1652
No problem. Thank you very much for looking into it! It is not a rush as for now I will only use string inside of component selector instead of css function and use css function externally to convert string to the styles.

[2019-11-26 07:14] Andarist commented on #1652
I'm going to close the issue then because it seems that we can't really do much right now about it (I wouldn't like to introduce any accidental regression into v10 at this point in time) and because we've merged in a change that should "fix" it by coincidentally - https://github.com/emotion-js/emotion/pull/1653 . Hope you understand. Keep in mind that we release v11 versions regularly and they are

[2019-11-26 07:14] #1652 closed

[2019-11-26 07:17] Andarist commented on #1531
I've misunderstood the problem when you have reported it - I thought that this is a source map bug, that they point to a different than expected location. But actually this is also (like you have reported) about styles being concatenated in a wrong way.

This is caused by a bug in the parser we are using - I've reported it there last night: https://github.com/thysultan/stylis.js/issues/154 .

I'm

[2019-11-26 07:17] #1531 closed

[2019-11-26 07:25] Andarist commented on #1531
Oh, and you can use a temporary workaround for this issue:
[code]

[2019-11-26 07:55] marbor3 commented on #1531
Thanks for investigation! No worries, it does not affect production env, so it's just a possible issue in development.
I will try the workaround!

[2019-11-26 09:06] frankwallis opened #1655 "v11: TypeScript infers incorrect type when composing styles/classes"
**Current behavior:**

When composing styles the type of the created styled component is inferred to be a union of the created type _and_ any element types referenced in the template literal

**To reproduce:**

The following code gives a TypeScript error using v11 but not under v10:
[code]
The resultant type becomes `HTMLInputElement & HTMLLabelElement` (or similar) and so the onChange handler is

[2019-11-26 10:36] Andarist commented on #1655
cc @JakeGinnivan

[2019-11-26 21:21] Andarist commented on #1640
I've made some progress - you had 2 copies of `csstype` in your node_modules and they were conflicting with each other. I've bumped our dependency range and published a new version - it didn't quite help though. So I've removed `csstype` entries from yarn.lock and run `yarn` to regenerate the lockfile+dep tree. This has fixed the problem of duplicated `csstype` and I believe that it has also fixed

[2019-11-26 21:39] weyert commented on #403
@Spoonrad Did you ever find an answer to your query?

[2019-11-26 22:22] karfau commented on #1640
Thx for digging into it to this level.
I only see a very small difference in the error message, but it might of course be an step forward.

I subscribed to the PR you mentioned, so I'll be informed when it lands.
Beside that I'm currently not able/knowing how to support this case in any way. But if you want me to try something just let me know.

[2019-11-26 22:38] Andarist commented on #403
@weyert I **think** (but I'm not an expert in this regard) that you have to generate nonce per request and provide it to your client-side's JS - from there it should be easy to just use that nonce through CacheProvider component

[2019-11-26 22:42] Andarist commented on #1640
While digging into it I've even encountered:

😅

That got me to realize there are 2 conflicting versions of csstype. I believe that last part (that `props => props.css`) should be rather easily typeable - it's not any weird pattern. I need to analyze how our current typings are structured to fix this though, probably need to draw a dependency tree for them to see what depends on what and what is s

[2019-11-27 13:42] dinoturic commented on #1259
It seems like the fix has not been made for template literals.
If one is to create an emotion component like this using template literals, the keyframe is still not passed properly and does not show the animation. Using `.toString()` only works in this case, but can it be fixed so that template literals, like objects can use this without `toString` function?

Example:
[code]
Also no info about thi

[2019-11-27 14:49] jacek213 commented on #1046
any ideas about getting pretty class names (aka `autoLabel`) and source maps with pure typescript?

[2019-11-27 14:59] Andarist commented on #1046
@jacek213 you can try this https://github.com/LeetCode-OpenSource/emotion-ts-plugin

[2019-11-27 21:16] frankwallis commented on #1655
It seems to relate to this code which has been removed: https://github.com/emotion-js/emotion/blob/8767a69251c8de86e8350ac8788b4129847e15bb/packages/serialize/types/index.d.ts#L79

And now in the template arguments the `${Label}` is being inferred as a `FunctionInterpolation` instead of a `ComponentSelector`

[2019-11-28 09:04] Andarist commented on #1655
Thank you for investigating, it will be a great help in fixing this ❤️

[2019-11-28 11:56] Andarist commented on #1258
I've confirmed that with v10 this incorrectly points to:
https://github.com/esamattis/emotion-source-map-bug/blob/f6d471c527818a6338526b91a8baeca0d2e62d37/components/View.js#L3

but with upcoming v11 it points to:
https://github.com/esamattis/emotion-source-map-bug/blob/f6d471c527818a6338526b91a8baeca0d2e62d37/pages/index.js#L5

Which I believe is what is the expected result here. So I'm going to

[2019-11-28 11:56] #1258 closed

[2019-11-28 13:59] ivanbanov opened #1657 "babel-emotion-plugin not working with custom instances"
Seems like the custom instances are not working properly
I've reported it on xstyled repo (https://github.com/smooth-code/xstyled/issues/77) but perhaps it's related to the emotion plugin.
Also, when importing xstyled ThemeProvider using its own preset an error is happening, it may be related to the [babel-plugin-jsx-pragmatic](https://github.com/emotion-js/emotion/tree/master/packages/babel-plugi

[2019-11-28 14:27] esamattis commented on #1258
No worries, we're all busy and this is open source. Happy to see progress!

[2019-11-28 15:12] Andarist commented on #1657
This got fixed in https://github.com/emotion-js/emotion/pull/1220 but this is going to be a part of upcoming v11, unfortunately we don't have time resources to backport this to v10.

[2019-11-29 05:59] hachibeeDI opened #1660 "style tag won't be provided if styled property contains ascii unicode prefix"
**Current behavior:**

Style isn't provided if ascii unicode was applied like `content: "\1f4a5";`.

**To reproduce:**

1. Create a styled component contain unicode prefix:

[code]

2. Open browser

3. Confirm css name was generated like `css-1cdv3h8-Title`

4. Confirm no styled was provided for the class

Working Sandbox:
https://codesandbox.io/s/emotion-issue-template-wuh80

**Expected behavior:

[2019-11-29 08:56] Andarist commented on #1660
The error is already in place - see https://codesandbox.io/s/emotion-issue-template-ze0kf

It's available in more recent versions of our packages than what is installed in that CodeSandbox. The error might not be visible if you are using our babel plugin or macros with `@babel/parser` (which gets used by you indirectly) older than 7.4.3

I hope this resolves your issue - if not please followup wit

[2019-11-29 08:56] #1660 closed

[2019-11-29 20:06] #949 closed

[2019-11-29 21:32] Andarist commented on #1629
Closing because there is not much we can do about this in v10 as described above. I hope you understand.

[2019-11-29 21:32] #1629 closed

[2019-11-29 21:34] Andarist commented on #1578
I think I've answered all the questions asked in the thread and I hope it was helpful. We are working on v11 right now and some parts of the docs will be reworked slightly - so hopefully it will be harder in the future to get confused about all of those things.

[2019-11-29 21:34] #1578 closed

[2019-11-29 21:36] Andarist commented on #1552
No repro case was provided, so I'm going to close this one - but if you find the time to repro this I will gladly take a look at the problem.

[2019-11-29 21:36] #1552 closed

[2019-12-02 06:17] Andarist commented on #997
This will be possible in upcoming v11, we’ve just merged in https://github.com/emotion-js/emotion/pull/1130 which implement this

[2019-12-02 06:17] #997 closed

[2019-12-03 02:33] RichieRunner opened #1669 "Inline Optional Typescript Type is invalid in eslint"
**Current behavior:** Adding an optional type throws off a generic eslint error.

**To reproduce:**
[code]

![image](https://user-images.githubusercontent.com/20289967/70015234-9aa05100-1531-11ea-91de-8ae268d4bf8e.png)

**Expected behavior:**
Not including the optional type does not throw an error from eslint.
[code]
I understand that having the inline optional Typescript type should be valid? Has

[2019-12-03 08:47] Andarist commented on #1657
Closing this because it has already been implemented in v11. Stay tuned for a release!

[2019-12-03 08:47] #1657 closed

[2019-12-03 18:58] jacek213 opened #1670 "[SUPPORT] Composing dynamic styles + Themes + Typescript"
I'm trying to share styles between two components. Those styles use values from my theme. I've just tried something like:

[code]

... but now, when attempting to use the component, I'm getting error because I haven't passed the `theme` prop:

`<CtaLink to={LOGIN_PATH}>sign in</CtaLink>` => `Property 'theme' is missing in type '{ children: string; to: string; }' but required in type 'ThemeProps'.`

[2019-12-03 22:05] Andarist commented on #1670
Sorry for the inconvenience but I'm afraid that I won't be able to help you with this one right now. v10 typings are rather complex and have some quirks - they have been completely reworked and the rewrite is available in v11 (still in beta). We plan to release v11 this month (no promises though!) and I believe that migrating to it will resolve your issue. I also encourage you to try out currently

[2019-12-03 22:33] jacek213 commented on #1670
Thank you for a detailed answer @Andarist :) I've subscribed to #1609 and will test it out as soon as it's merged.

[2019-12-04 02:25] hachibeeDI commented on #1660
Hi, thanks for your quick reply!
Sorry, I missed the runtime error in the CodeSandbox.

And yes, my project is using babel and babel-plugin-emotion as you guess, those are latest though...
 Compile process of my project has bunch of plugins so I guess something is happening in it.
I'll dig into it. Thank you again.

[2019-12-04 08:43] #1523 closed

[2019-12-04 11:06] lowe1111 opened #1671 "@emotion/styled with theme is still marked as any and not the custom theme"
I wanted to use a @emotion/styled with my custom theme.I am using typescript and I did everything as documented in:
https://emotion.sh/docs/typescript#define-a-theme
So this is my `styled.tsx` file:

[code]

Now when I'm using this `styled` function, the props are still marked as `any` and not as props with my custom Theme.

[code]
This is the error I receive:
`Error:(5, 23) TS7006: Parameter 'pro

[2019-12-04 12:15] akullpp commented on #637
This is a real issue, it is unacceptable to use the pragma as it seems hacky compared to styled-components. I won't  introduce emotion because of this issue in a project...

[2019-12-04 13:02] Andarist commented on #637
The good thing is that no one is forcing you to do that. You also have `@emotion/styled` API for grabs if you prefer using styled-components-like API.

We just don't believe that jsx pragma is a hack - you are free to feel to think differently.

[2019-12-04 14:06] Andarist commented on #1671
Sorry for the inconvenience but I'm afraid that I won't be able to help you with this one right now. v10 typings are rather complex and have some quirks - they have been completely reworked and the rewrite is available in v11 (still in beta). We plan to release v11 this month (no promises though!) and I believe that migrating to it will resolve your issue. I also encourage you to try out currently

[2019-12-04 14:11] lowe1111 commented on #1671
Okay no problem! Thanks for the quick response anyway :)

[2019-12-04 14:11] #1671 closed

[2019-12-05 07:20] azizhk commented on #1644
Hi, same problem.
I created a reproduction repo: https://github.com/azizhk/next-9-emotion-10-inject-global-bug
It should look like: (on [this commit](https://github.com/azizhk/next-9-emotion-10-inject-global-bug/commit/1db7e82bde17fe59078b878bff7fb6d1f92efcc6))

![Screenshot 2019-12-05 at 12 47 31 PM](https://user-images.githubusercontent.com/5094296/70212700-cc95fb00-175d-11ea-8c1b-c602b5ba1cd5.p

[2019-12-05 10:28] ralexhassle opened #1673 "create-react-app failed to compile"
**Current behavior:**

When npm install `@emotion/core` and/or `@emotion/styled` after setting up a typescript project with `create-react-app` the app failed to compile even though I didn't import emotion in the project.

**To reproduce:**

1. npx create-react-app vz-app --template typescript
2. npm install --save @emotion/core @emotion/styled

**Expected behavior:**

Should render the `create-rea

[2019-12-05 10:36] Andarist commented on #1673
I have just checked this and it compiles correctly for me. Not sure what might be your problem - could you prepare a repro case?

[2019-12-05 10:43] ralexhassle commented on #1673
`
npx create-react-app vz-app --template typescript
npm install --save @emotion/core @emotion/styled
npm start
`

and then I get:

`
TypeScript error in /Users/alex/vz-app/src/App.tsx(1,19):
Could not find a declaration file for module 'react'. '/Users/alex/vz-app/node_modules/react/index.js' implicitly has an 'any' type.
  If the 'react' package actually exposes this module, consider sending a pu

[2019-12-05 10:56] ralexhassle commented on #1673
The problem seems to come from one of these dependencies:

`"react": "^16.12.0"
"react-dom": "^16.12.0"
"react-scripts": "3.3.0"`

but works with these versions:

`"react": "^16.11.0",
"react-dom": "^16.11.0"
"react-scripts": "3.2.0"`

[2019-12-05 10:57] FezVrasta commented on #1673
Could you try to reproduce it on codesandbox?

[2019-12-05 10:59] ralexhassle commented on #1673
Don't know how to set up a codesandbox with `create-react-app`

[2019-12-05 11:10] Andarist commented on #1644
@azizhk you should change this:
https://github.com/azizhk/next-9-emotion-10-inject-global-bug/blob/25c8bbe9447ece3e9c6a62bdf330b85582670648/shared/styles.js#L1
to
[code]

Keep in mind though that even with those changes the whole example might not work as expected in some regards - mainly due to how you mix vanilla emotion into it.

With emotion 10 you shouldn't have to use vanilla emotion with Re

[2019-12-05 12:15] Andarist commented on #1673
I think this just is caused by a fact that you install extra dependencies with npm, while the existing node_modules has been created with yarn. It's some kind of a mismatch between those 2 installs - if I remove all node_modules & lock files and do a fresh `npm install` (which includes already added emotion dependencies) then everything works OK.

[2019-12-05 14:13] ralexhassle commented on #1673
so npx create-react-app use yarn under the hood ? it's pretty annoying if there is no way to specifiy if we want to use npm instead. By removing all `node_modules` and `npm install` it solved my problem so I am going to close this issue. Thank you !

[2019-12-05 14:13] #1673 closed

[2019-12-05 16:20] Andarist commented on #1673
Not sure if this can be configured - fresh CRA projects are defaulting to yarn, but this can easily be changed. Just remove the yarn.lock and use npm - from now on there shouldnt be any problems of preference towards yarn.

[2019-12-05 21:38] kurosh-z opened #1674 "unable to use css props with create-react-app and typescript"
I setup a create-react-app project with typescript and as documentation says added  jsx Pragma /** @jsx */ on top of the code  to be able to access css prop.
But I'm still getting this error :

<img width="609" alt="Screenshot 2019-12-05 at 22 21 02" src="https://user-images.githubusercontent.com/32224317/70274999-88324b80-17ad-11ea-88ab-b25a1a601cd0.png">

doing the exact same thing however in co

[2019-12-06 00:18] Slapbox commented on #1578
@Andarist really helpful information as always!

I found this thread looking for an answer to a question on `keyframes`, so this seems like probably the best place to ask:

Is there any way for `keyframes` to access the `theme` object?

It wouldn't surprise me if that's is simply not possible right now, but I haven't found mention anywhere.

[2019-12-06 06:59] azizhk commented on #1644
Can you expand or if there is some documentation on this. (Can document if you point me to issues.)

Yeah we had a couple of issues, Multiple Style Tags (https://github.com/emotion-js/emotion/issues/1370) First Child Selectors (https://github.com/emotion-js/emotion/issues/1178)
So we chose this approach.

Also wanted to ask if extractCritical would be slower than normal approach? Should we measure

[2019-12-06 09:08] azizhk commented on #1644
Ok, I understand this now, `emotion` package is framework agnostic.
For usage with React, we have to use `@emotion/core`, `@emotion/styled`, `create-emotion-server`.

`css` from `emotion` returns a string.
`css` from `@emotion/core` returns a custom data type.

[2019-12-06 13:22] elierotenberg opened #1676 "React type pollution in generated .d.ts files"
**Current behavior:**

Currently, having `@emotion/core` as a dev-dependency forcefully includes `<reference types="@emotion/core" />` in generated `.d.ts` files, even when it isn't directly used.

In my current project, `@emotion/core` is required by a dev-dependency on `@storybook/addon-actions`:

[code]

During compilation of production files (hence excluding storybook-related files), whenever

[2019-12-07 09:01] hwkd opened #1678 "border-radius property not working with Text (@emotion/native)"
**Current behavior:**
The border-radius property doesn't work with `styled.Text`:
[code]

However, if I do the following, it works fine:
[code]

I've tried using `border-radius` with `styled.View` and it works fine too, so my guess is that it's a bug with `styled.Text`.

**To reproduce:**
Try the following:
[code]

**Expected behavior:**
It should apply `border-radius` on the `MyText` component (c

[2019-12-07 13:23] Andarist commented on #1678
Those React Native packages are fully community-drive. The core team has no enough time resources to handle issues with those packages. I encourage you to dive into the codebase and try to fix the issue.

[2019-12-07 13:33] Andarist commented on #1676
I believe this is a duplicate of https://github.com/emotion-js/emotion/issues/1257 and we plan to fix this in upcoming v11.

[2019-12-07 13:36] Andarist commented on #1674
Could you prepare a repro case? I could then take a look at this.

[2019-12-07 13:38] Andarist commented on #1669
It seems like a possible bug with ESlint's TypeScript parser. Could you report it over there?

[2019-12-07 14:25] hwkd commented on #1678
Sure, I'll see if I can work on that once I get some time.

[2019-12-07 20:45] Andarist commented on #1578
It's not possible - it's the same case as with `css` function. You can only get theme from outside. Both can be called outside of the React tree so there is no way to get a theme. Or rather - there is, we could store those functions on returned values instead of serializing styles right away, but it would make certain optimizations not possible (or at least harder).

Hard to answer - you'd have to

[2019-12-07 20:48] Andarist commented on #1644
`extractCritical` is slower by its nature (extra work to be done), but it probably isn't slow enough for you to care about it. You can benchmark your case if you want to.

Yes - that's the difference. By using custom data types in the latter case we can have CacheProvider API which wouldnt be possible if we'd have returned plain strings.

Gonna take a quick look.

[2019-12-07 21:02] Slapbox commented on #1578
Thank you a lot for your helpful explanation @Andarist! That's pretty much what I figured, but it's just so much tougher to work around with `keyframes` since they can't be both reusable and receive the `theme` prop (unless I'm overlooking another possibility.) eg,

[code]

Fortunately we only have a handful to use, but it would get tough if we had dozens of cases to cover.

I'd love to run that b

[2019-12-07 21:05] Andarist commented on #1507
This has been implemented in https://github.com/emotion-js/emotion/pull/1609 and will be released in the upcoming v11.

[2019-12-07 21:05] #1507 closed

[2019-12-07 21:08] Andarist commented on #1197
We have decided to include a Theme interface that can be augmented in userland. This also provided that theme to the css prop - it has been implemented in https://github.com/emotion-js/emotion/pull/1609 and will be released in the upcoming v11.

[2019-12-07 21:08] #1197 closed

[2019-12-07 21:11] Andarist commented on #1578
Just use JavaScript to extract this to a function 😃
[code]

[2019-12-07 21:15] Andarist commented on #1670
Should be available in a moment in 11.0.0-next.8

Please give it a spin and if you find any issues just report them so we can fix them before the final release.

[2019-12-07 21:15] #1670 closed

[2019-12-07 21:15] Slapbox commented on #1578
I tried that, but functions get stringified inside of `css`  :(

[2019-12-07 21:21] Andarist commented on #1578
Notice that `getAnimation` in this example gets called - it's not interpolated as is (without calling) and this should work just fine (the function should not get stringified because it wont even be visible for `css` - as it process things **after** that function gets evaluated).

[2019-12-07 21:32] Slapbox commented on #1578
Ahh! Obviously I didn't try that, and obviously it works. Thank you @Andarist!

I feel like the docs could benefit from an example like this. I know there's a project to improve the docs already, but there's a few things like this that don't really fall under any specific docs heading that exists today that might be worth including on a "Tips and Tricks" page or something.

[2019-12-07 22:17] Andarist commented on #1640
I've released `11.0.0-next.8` and it got better a little - but it fails on that `props => props.css`. I'm not sure if this is possible to work because it has an incompatible type. It gets inferred as this:
https://github.com/emotion-js/emotion/blob/0362fd2dc691e9084cf8b7b59df15377cc60dfdd/packages/core/types/index.d.ts#L99
and it's not compatible with this:
https://github.com/emotion-js/emotion/bl

[2019-12-07 22:26] karfau commented on #1640
If I understood you correctly you are not sure why
https://github.com/rebassjs/rebass/blob/51e10d992430edcd85b3a229556ecbe4a8d9d60b/packages/reflexbox/src/index.js#L37
is there/ what it's purpose or function is?

Maybe we can invite @jxnblk to the discussion to help us understand that? (Not regarding types, just the code.)

[2019-12-07 22:37] Andarist commented on #1640
https://github.com/rebassjs/rebass/blob/51e10d992430edcd85b3a229556ecbe4a8d9d60b/packages/reflexbox/src/index.js#L37
is there/ what it's purpose or function is?

Yes. I suppose `styled-system` might use `css` prop differently than we do. But currently its type (in your file) comes from us (we mutate global types):
https://github.com/emotion-js/emotion/blob/0362fd2dc691e9084cf8b7b59df15377cc60dfdd/

[2019-12-08 08:56] frankwallis commented on #1655
@JakeGinnivan thank you for finding a solution for this, I'm not sure I would have found it. Is it ready for a PR into the next branch?
Let me know if there is anything I can do to help.

[2019-12-08 08:57] JakeGinnivan commented on #1655
@frankwallis the fix is already in the current `@next` on NPM. If you could give it another spin to see if there are any other issues that would be great!

[2019-12-08 08:58] JakeGinnivan commented on #1655
@frankwallis oh wait, no I was getting confused with another fix. There was a few additional comments to sort, will get it done today!

[2019-12-08 09:03] frankwallis commented on #1655
awesome, thanks!

[2019-12-08 09:55] Andarist commented on #1655
@JakeGinnivan so this was not yet fixed by #1664?

[2019-12-08 10:01] JakeGinnivan commented on #1655
@Andarist it just wasn't merged, once v11 gets released again it will

[2019-12-08 10:02] Andarist commented on #1253
This has been implemented in https://github.com/emotion-js/emotion/pull/1659 and will be a part of upcoming v11 release.

[2019-12-08 10:02] #1253 closed

[2019-12-08 10:05] Andarist commented on #1655
It got merged in few minutes ago - I'll cut a new release soon, so if the fix is already on next I would prefer to close this issue already. Stay tuned for a new release!

[2019-12-08 10:05] #1655 closed

[2019-12-08 15:05] #1676 closed

[2019-12-08 15:36] FezVrasta commented on #1125
I'm not getting that error anymore on master.

Anyways, for any node_modules errors, we can now add the following to the `.flowconfig` file:

[code]

So that the types are used, but the errors are ignored.

[2019-12-08 15:36] #1125 closed

[2019-12-09 02:30] JakeGinnivan opened #1681 "Make it easy to add a className to a component"
**The problem**

We have a rather complicated wrapper to attach a custom class name to a component.

[code]

And it still has some type issues.

**Proposed solution**

It would be good if we could pass additional className's when creating the styled component.

[code]

**Alternative solutions**

Use `withProps`, I get type issues with that out of the box.

[code]

I can also create an additional w

[2019-12-09 08:20] vongohren commented on #1516
@wagnerjsilva did you solve this in the end? Seems like the same problem Im having

[2019-12-09 10:36] Andarist commented on #1516
@vongohren if you provide a repro case I can take a look at your problem

[2019-12-09 12:04] kurosh-z commented on #1674
I reduced the code to a very simple example and it actually works fine. Somewhere in my original code I had  /** @jsx */ instead of /** @jsx jsx */ .

[2019-12-09 12:04] #1674 closed

[2019-12-09 12:40] vongohren commented on #1516
@Andarist this is a repro that showcased my initial problems. It has not added the emotion plugin yet, but it showcases that css becomes and object, and prop registred of null problem, if you uncomment the component in the index file of the next-app.

I will now add a lib version with that emotion babel plugin to get the key problem

[2019-12-09 23:01] michaeljaltamirano commented on #1237
For what it's worth I was encountering this issue when I had incompatible versions of @emotion installed (in my case, older versions of direct dependencies, and, when paired with @storybook/react@5.2.8, caused this issue).

[2019-12-10 13:09] OzTK opened #1684 "Invalid type for styled components targeting other components"
**Current behavior:**

When using TypeScript with styled components, creating 2 separate components, one referring to the other in its style, the second component (targeting the first one in style) is also inheriting the props from the first one.

**To reproduce:**

Can be observed here: https://codesandbox.io/s/emotion-issue-template-vmxxl

1. Create a component with a prop
2. Create the styled v

[2019-12-10 17:07] frankwallis commented on #1684
This sounds like the same issue as https://github.com/emotion-js/emotion/issues/1655
Which has been resolved by https://github.com/emotion-js/emotion/pull/1664

But I don't think the fix has been released yet (it is not present in v11.0.0-next.8)

[2019-12-10 19:35] winstondispatch commented on #1185
I also ran into this error while running mocha tests, so I needed to make emotion think I was running on a browser by adding `global.HTMLElement = window.HTMLElement;` to my jsdom setup.

[2019-12-10 22:49] Andarist commented on #1185
@winstondispatch could you prepare a repro case for your problem and raise a new issue with it?

[2019-12-10 22:52] Andarist commented on #1684
I have just released 11.0.0-next.9 with a fix for this issue - please try it out and raise a new issue if the problem persists.

[2019-12-10 22:52] #1684 closed

[2019-12-10 23:13] Andarist commented on #1516
https://github.com/vongohren/fouc-example/blob/3bce4be66805710f80a9e77318c4803ac4700834/packages/emotions-lib/src/index.js
This one gets built without a our babel plugin and without manual jsx pragma set - so `css` prop has no way of working here.
https://github.com/vongohren/fouc-example/blob/3bce4be66805710f80a9e77318c4803ac4700834/packages/emotions-babel-lib%20/.babelrc
This one is not configur

[2019-12-11 07:00] azizhk opened #1686 "Enzyme Detects Twice the nodes as EmotionCssPropInternal gets injected into tree"
**Current behavior:**
I'm upgrading emotion from v9 to v10 and am getting this error:

[code]

**To reproduce:**
Sample test case with jest, enzyme
[code]

**Expected behavior:**
Only one element getting selected. Maybe `EmotionCssPropInternal` should not get injected into the tree.

**Environment information:**

- `react` version "16.12.0"
- `emotion` version "10.0.23"
- `@emotion/core` version "

[2019-12-11 07:03] vongohren commented on #1516
@Andarist thanks alot for the pointers, these are some things I have tried out, but not matched all at once. I will see if I can get that repo up and running with these pointers.

But some additional questions.

When you are saying that I need two bundles, I know how, but I dont know how I will handle that with next? Will I do one node version and next will take care of it all? And the browser ver

[2019-12-11 07:10] azizhk commented on #1686
Found the solution here: https://github.com/airbnb/enzyme/issues/836
Need to use `.hostNodes()` to filter it down to the HTML elements.

So sorry for creating this issue.
Thanks for awesome work behind emotion.

[2019-12-11 07:10] #1686 closed

[2019-12-11 08:33] frankwallis commented on #1655
I can confirm that our build is now working fine with no changes using v11 (we are not using theming). The build time has gone down from ~38 seconds to ~26 seconds which is really awesome, and I think will have a big impact when using VSCode. Thanks for the great work!

[2019-12-11 08:44] Andarist commented on #1655
Thank you for checking!

[2019-12-11 15:21] OzTK commented on #1684
Confirmed it works. Thanks a lot!

[2019-12-11 20:04] jxnblk commented on #1640
@karfau the manually added `css` prop in Rebass is for use where it's not possible to use the Emotion `createElement` function, such as MDX, which has its own. If you have Emotion's JSX pragma set, it will use Emotion's implementation in JS files, so this is mostly used as a fallback

[2019-12-11 20:23] karfau commented on #1640
Thx for the reply @jxnblk.
I hope this information helps @Andarist to understand what is going on.

[2019-12-11 20:53] JeSuis opened #1687 "Migration docs, cache not resolved"
**Description:**
Migration docs state adding a cache while updating emotion to v10 piecemeal
https://emotion.sh/docs/migrating-to-emotion-10#manual-steps

However upon attempting this I saw that `cache` is not resolved
![image](https://user-images.githubusercontent.com/2349269/70659227-aaa0ea80-1c2d-11ea-9215-4a73299f478f.png)
https://github.com/emotion-js/emotion/blob/v9-docs/packages/emotion/typ

[2019-12-11 22:17] Andarist commented on #1687
Im not sure why you are checking v9-docs branch - not sure about the history, maybe caches has existed back then but its cache and its typed correctly on master branch (and in published to npm v10 package)

[2019-12-11 23:38] Andarist commented on #1640
Ok, it makes sense - but it still doesn't play OK with defined types because we want to target a styled component with this but this `css` is typed for a css prop.

I'm not entirely sure about this - but maybe you could add inline annotations (using comments - I think TS supports this) to cast this to any (for starters) and maybe try to type it to an expected type. Don't have a better idea than th

[2019-12-12 00:06] Andarist commented on #1516
Actually you should just not bundle your dependencies in - let them stay as your dependencies (and thus in other node_modules of your consumers). Then each tool (like Next) should be able to resolve correctly to appropriate files - because it will use the file structure (or rather mostly package.json metadata) prepared by us (or other packages using this technique).

[2019-12-12 03:41] JeSuis commented on #1687
you just made me realize I had v10 for @emotion/core but emotion was still at 9

[2019-12-12 03:41] #1687 closed

[2019-12-12 08:52] vongohren commented on #1516
@Andarist cool cool, you have some concrete pointers to important entries in files :D ? I will try this out the following weeks. But will finish the task with the fouc, and get back to this!

[2019-12-12 09:16] Andarist commented on #1516
Not sure if I understand correctly the question - so let me maybe rephrase: I believe that the problem will go away once you use https://webpack.js.org/configuration/externals/#externals option correctly (you basically need to put all of your dependencies into externals when building a library). That being said - webpack is rarely used for building library code (it's great for building application

[2019-12-12 11:41] NNSTH commented on #1516
I have same problem with SSR build by webpack. my webpack config target is 'node', so I don't understand the exact issue. anyway I saw that your isBrowser detection beeing compiled into:
`var isBrowser = "object" !== 'undefined';`

Any idea what am I doing wrong?

thanks a lot for amazing job!

[2019-12-12 12:08] Andarist commented on #1516
@NNSTH please share a repro case so I could take a look

[2019-12-13 03:58] tomitrescak commented on #1276
If I import `@emotion/core` and `emotion` as well will not that duplicate the size ?

[2019-12-13 08:02] Andarist commented on #1276
Not by that much as you could have expect because a good chunk of of the code is shared between those packages

[2019-12-13 20:53] tomitrescak commented on #1276
Thanks!

[2019-12-13 21:51] NicholasBoll opened #1689 "Update type definitions to latest @types/jest"
**Current behavior:**

If a project uses Jest types at version 24 or greater, this package will conflict the type definition of `Matchers`. The type error is:

[code]

The change to the `Matchers` signature happened here: https://github.com/DefinitelyTyped/DefinitelyTyped/pull/39243/files#diff-013c5ccd6d4d4b59b744d1b1aa39c80fL54

The version this change occurred in is `@types/jest@24.0.20`. This p

[2019-12-13 22:04] Andarist commented on #1689
This has been already done on `next` branch - unfortunately, it's a breaking change of sorts and we'd like to avoid introducing it to v10.

[2019-12-13 23:09] NicholasBoll commented on #1689
Thanks for that info. I didn't find an issue that matched. If the next major version of @emotion comes out soon, it is probably fine. If v11 will take a while, people using Typescript and later versions of Jest types will be blocked from upgrading until that change is released.

[2019-12-13 23:13] Andarist commented on #1689
Yes - this is unfortunate but also not our fault. `@types/jest` broke this in a patch release.

A good thing though is that v11 is almost done - hopefully we should ship this month

[2019-12-15 07:38] NNSTH commented on #1516
It's very strange, I'm trying to make a simple repro for this- but it's working as well within this repro.
Will try to configure the changes, this might take me several days.

[2019-12-15 08:31] NNSTH commented on #1516
Got it! this was a problem of using webpack.DefinePlugin for document: {}.
Deleted this line of configuration and everything is working now. thanks for your help!

[2019-12-15 08:37] Andarist commented on #1516
No problem, glad that you have figured it out.

[2019-12-15 21:57] robertcoopercode opened #1693 "Class name labels not added when using a re-exported version of the styled function"
**Current behavior:**

`babel-plugin-emotion` doesn't add a class name label when using a re-exported version to the `styled` function.

**To reproduce:**

https://codesandbox.io/s/emotion-issue-template-r8v3h

1. Import `styled` from `@emotion/styled` and re-export it.
2. Import the re-exported `styled` in your app and use it to create a component
3. Notice how the class name generated by `babel-

[2019-12-16 10:25] Andarist commented on #839
A PR implementing this ( https://github.com/emotion-js/emotion/pull/1634 ) has just been merged into `next` branch. This will be a part of upcoming v11 release.

[2019-12-16 10:25] #839 closed

[2019-12-17 10:07] nappy opened #1694 "LICENSE file should be included in npm bundle"
The license text is currently not provided with the npm bundle.
In order to allow automation tools like `license-webpack-plugin` to pick it up, it should be included there.
Also the license states: The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
This includes the npm registry.

[2019-12-17 10:42] lcswillems commented on #1644
@Andarist The link you give to [Next.js Emotion Fiber](https://github.com/zeit/next.js/tree/master/examples/with-emotion-fiber) example should be added to [SSR doc page](https://emotion.sh/docs/ssr), because currently, when I read this page, it says there is nothing to do with Next.js which is wrong (if I do nothing, <style> tags are added after the component).

[2019-12-17 11:09] lcswillems opened #1695 "[SUPPORT] Why strings are not allowed as CSS prop values?"
I have this code:

[code]
but I get this error:
[code]

Why? I don't need to do it with Styled-Components.

The library should detect if I input a string and if it is the case, it should wrap it in this `css` wrapper.

[2019-12-17 14:27] Andarist commented on #1695
Wrapping your string styles with `css` like in example below gives you additional benefits - such as prettier formatting and in-editor syntax highlighting. That's why we prefer to encourage its usage.
[code]

[2019-12-17 14:33] lcswillems commented on #1695
VSCode and Prettier already highlights correctly without using `css`. So I don't see any reason. Moreover, you could allow people to use `css` if they want, instead of forcing them (for any reason).

Using `css` adds useless `emotion` imports, makes code more painful to write, and makes people painful to migrate to Emotion.

[2019-12-18 20:39] Andarist commented on #1695
Interesting - I was sure that prettier doesn't handle this. We'll consider changing this in the upcoming v11.

[2019-12-18 20:41] Andarist commented on #1689
As discussed - this is already a part of the upcoming v11 and we'd rather like to avoid fixing this in v10 because it's sort of a breaking change. Gonna close this and I hope we manage to release v11 in a couple of weeks.

[2019-12-18 20:41] #1689 closed

[2019-12-18 20:41] lcswillems commented on #1695
That's great!

[2019-12-20 00:31] anilanar commented on #1593
Just wanted to chime in here that my team has also wasted some time on this when we had hotfix/development branches had different babel versions and different devs would update snapshots with different hashes due to the confusion.

[2019-12-21 09:57] Andarist commented on #1694
Do you require license text everywhere? Why `license` field is not enough? It points to MIT license which has known content that can be checked in a lot of places on the internet - for example here: https://opensource.org/licenses/MIT

[2019-12-21 13:10] nappy commented on #1694
a) Not I require it, the license requires it.
b) Its not required everywhere but In all copies or substantial portions of the software, which an npm package definitely is.
c) The generic text does not include year and copyright holder and might change over time. Also there is no link to the URL where it could be sourced from automatically.
d) 90% of the packages I (indirectly) depend on already do

[2019-12-22 11:55] Andarist commented on #1694
Ok, I've created a PR to add this - https://github.com/emotion-js/emotion/pull/1698

[2019-12-22 12:00] Andarist commented on #1693
This is a known issue and it has been fixed in v11 (available on npm under `next` tag). Unfortunately, it's too complicated to backport this to v10 - but hopefully we should be able to ship v11 in a month (I encourage you to try it out today though, it's stable and doesn't include many breaking changes).

Additionally - with v11 you shouldn't have to reexport styled just to add Theme type. Instead

[2019-12-22 20:53] Kerumen commented on #1693
@Andarist Great, thanks! I would love to try v11 today but I can't find a summary of all the breaking changes. I can browse through all next releases but it's not very convenient.. Is there a recap somewhere?

[2019-12-22 22:29] Andarist commented on #1693
I've extracted quickly the list from our changesets (which are available here - https://github.com/emotion-js/emotion/tree/1e4a741de6424d3d9c1f3ca9695e1953bed3a194/.changeset ):
- Remove support for deprecated `innerRef` prop
- Reworked TypeScript definitions so it's easier to provide a type for Theme. Instead of creating custom instances (like before) you can augment builtin Theme interface
- Rem

[2019-12-22 23:02] #1694 closed

[2019-12-23 06:15] mrdivyansh commented on #471
Having the same problem. @greggb did you get any solution rather than removing `ExtractTextPlugin` plugin?

[2019-12-23 09:11] Kerumen commented on #1693
Thanks!

[2019-12-23 12:08] rampatina opened #1701 "Why can't I install latest version 10.0.27"
I was trying to install this plugin into my repo and following is the error getting:
$ sudo npm install --save-dev babel-plugin-emotion@10.0.27
npm ERR! code ETARGET
npm ERR! notarget No matching version found for babel-plugin-emotion@10.0.27
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! notarget a package version that doesn't exist.

npm ERR! A complete l

[2019-12-23 13:23] Andarist commented on #1701
Hard to tell - it's published correctly and listed for example here https://www.npmjs.com/package/babel-plugin-emotion?activeTab=versions . I would try clearing npm cache on your place and trying to install it after doing that.

[2019-12-23 13:59] rampatina commented on #1701
I tried clearing npm cache, still, the problem persists..

$sudo npm cache clean --force
npm WARN using --force I sure hope you know what you are doing.
$ sudo npm install --save-dev babel-plugin-emotion@10.0.27
npm ERR! code ETARGET
npm ERR! notarget No matching version found for babel-plugin-emotion@10.0.27
npm ERR! notarget In most cases you or one of your dependencies are requesting
npm ERR! n

[2019-12-25 05:20] robinmetral commented on #1359
@njdancer thanks, works for me!

A simpler solution for those not using Typescript is to simply require the `babel-preset-css-prop` package:

[code]

This is what it looks like in the default Storybook Webpack config (from the Gatsby docs):

[code]

[2019-12-26 10:25] #1701 closed

[2019-12-26 10:26] rampatina commented on #1701
Able to install it. Thanks

[2019-12-27 18:29] Kerumen commented on #1693
@Andarist

About this

Do you have some examples?
I'm pretty sure I've seen a code snippet a while ago but can't find it again.

[2019-12-27 20:23] Andarist commented on #1693
https://github.com/emotion-js/emotion/blob/d62d9101bc75e6bc9644ae588d2a6e4bf4d69285/docs/typescript.mdx#define-a-theme

[2019-12-30 11:36] thibaultboursier commented on #1217
@FezVrasta @mitchellhamilton Could this breaking change be referenced in the Emotion documentation? I have not seen anything written on it. On the page about migration, we could add a text explaining the need to use the babel-plugin-macros to keep "styled children target" work.

[2019-12-30 12:45] simajzenman commented on #1122
Any news about this?

[2019-12-30 13:22] Andarist commented on #1217
@thibaultboursier being able to use styled components as selector has always been a babel-powered feature

[2019-12-30 13:24] Andarist commented on #1122
@simajzenman it most likely is an issue with your configuration. If you share a repro case I could take a look

[2019-12-30 16:47] thibaultboursier commented on #1217
@Andarist Sure ([https://emotion.sh/docs/styled#targeting-another-emotion-component](https://emotion.sh/docs/styled#targeting-another-emotion-component)). But we could add some information to say explicitly that it does not work anymore with Emotion 10.

[2019-12-30 20:19] Andarist commented on #1217
This should very much work with Emotion 10. Maybe you experience some misconfiguration problem? Could you prepare a repro case on which I could take a look?

[2019-12-31 21:12] xxx opened #1705 "allow optional @ inside /* emotion-disable-server-rendering-unsafe-selector-warning-please-do-not-use-this-the-warning-exists-for-a-reason */"
**The problem**

We're have a library, and want to turn off the `first-child`, etc. warnings, since SSR is not a concern for us. I'm aware of adding `/* emotion-disable-server-rendering-unsafe-selector-warning-please-do-not-use-this-the-warning-exists-for-a-reason */` as a comment, but because we also use [babel-plugin-emotion](https://github.com/emotion-js/emotion/tree/master/packages/babel-plugi

[2020-01-01 10:54] Andarist commented on #1705
This indeed sounds useful, I think we should squeeze this into upcoming v11. Would you maybe be willing to work on this? I believe we should just make this comment kept **for** non-production code as-is, no `@` required.

[2020-01-02 01:47] wyeo opened #1706 "Emotion does not support React.Fragment shortcut "<>...</>""
**Current behavior:**

**To reproduce:**

1. Using <>...</> instead of <React.Fragment>...</React.Fragment>

**Expected behavior:**

I get an error error, ReferenceError: React is not defined

**Environment information:**

- `react` version: 16.12
- `@emotion/core ` version: ^10.0.27

[2020-01-02 18:06] xxx commented on #1705
I will see what I can do, but my time is squeezed at the moment. I don't know what the schedule for v11 is.

[2020-01-02 19:24] billyvg commented on #1105
Option 2 fails for us:

[code]

Options 2 and 3 would not work well for our tests, would require changes to ignore a warning that does not affect us since we do not use server-side rendering.

[2020-01-02 21:46] Andarist commented on #1105
@billyvg could you prepare a repro case? Hard to tell what's wrong from the given information.

[2020-01-02 22:13] Andarist commented on #1706
Could you prepare a repro case?

[2020-01-03 09:16] lowe1111 commented on #1305
@Andarist @brettinternet With which version is this problem fixed?
I'm still facing the same issue when using a themed styled version of emotion.
I'm using:
[code]

And when I use a nested selector I get the same error as:
[code]

[2020-01-03 10:00] Andarist commented on #1305
As far as I know this has never been broken. Could you prepare a repro case? I could take a look then.

[2020-01-03 14:59] lowe1111 commented on #1305
@Andarist Yes this is what I am using

[2020-01-03 20:47] Andarist commented on #1305
So support for this within a babel plugin has been added in https://github.com/emotion-js/emotion/pull/1220 . I'm afraid though that it's going to be a part of the upcoming v11 release, we don't have time to backport this to v10. I encourage you to try out the v11 though, it doesn't have many breaking changes - it's mostly just cleanup, hooks, and TS types rework.

[2020-01-04 16:55] hatton commented on #1037
I found I had to give it an array:

`"validProperties": ["label"]`

(and then reload my vscode window).

[2020-01-05 17:03] bitttttten commented on #183
Is there an update on this yet? Couldn't `shouldForwardProp` be inherited from what is being passed into `styled(x)`?

It avoids making the below as verbose. It would be nice of StyledLink inherited shouldForwardProp from Link.

[code]

[2020-01-05 19:22] Andarist commented on #1635
Renaming of packages got merged in v11 and newly named packages should be promptly available on npm as well. v11 has not been yet published as latest, but we are getting closer and closer to it.

[2020-01-05 19:22] #1635 closed

[2020-01-05 19:23] Andarist commented on #1470
This got merged into v11 branch.

[2020-01-05 19:23] #1470 closed

[2020-01-06 05:41] lucaseverett commented on #1660
@hachibeeDI Did you ever find what was causing this? I'm having the same issue.

[2020-01-06 06:09] JonathanCa97 commented on #1305
@Andarist How do I use the CreateStyled then or inject my Theme Interface? As CreateStyled is not generic anymore in emotion V11

[2020-01-06 10:27] Andarist commented on #1305
@JonathanCa97 https://github.com/emotion-js/emotion/blob/31e610f2385d5a3dfd532b31f743e5f6b9fee43b/docs/typescript.mdx#define-a-theme

[2020-01-06 10:28] JonathanCa97 commented on #1305
thx!!

[2020-01-06 11:00] robinmetral commented on #1037
@hatton you're right, according to the plugin's README, `validProperties` takes an array.

However this still didn't fix it for me, probably because my project doesn't use Typescript (yet 😛).

I found the fix, at least for VS Code. Instead of a `tsconfig.json` file, I added a [**`jsconfig.json`**](https://code.visualstudio.com/docs/languages/jsconfig) at the root of my project:

[code]

[2020-01-06 12:02] wyeo commented on #1706
Yes sorry
it's happened only with Storybook

`
import React from "react"

/** @jsx jsx */
import { jsx, css } from "@emotion/core"

const divStyle = css`
  color: blue;
`

export default ({ text }: Props) => (
    <><div css={divStyle}>{text}</div></>
)
`

and i got : "ReferenceError: React is not defined"

[2020-01-06 14:14] Andarist commented on #1706
Could you prepare a **runnable** repro case? I'm afraid I don't have time to set up things myself and you, already experiencing the problem, should have a far way easier time to do so. Then I could quickly take a look at the repro case to help you find the problem.

[2020-01-07 05:31] duncanleung commented on #1359
In my project I was able to get Storybook to recognize css-prop (without using the jsx pragma) by adding this config to `/.storybook/webpack.config.js`.

Line 17 - Line 19:
[code]

Also, I am including the `@emotion/babel-preset-css-prop` for `.ts` and `.tsx` files

Line 41 - Line 43:
[code]

I created a template to share my project config that uses Gatsby + TypeScript + Emotion + Storybook + Reac

[2020-01-07 05:35] duncanleung commented on #1306
In my project I was able to get Storybook to recognize css-prop (without using the jsx pragma) by adding this config to `/.storybook/webpack.config.js`.

Line 17 - Line 19:
[code]

Also, I am including the `@emotion/babel-preset-css-prop` for `.ts` and `.tsx` files

Line 41 - Line 43:
[code]

I created a template to share my project config that uses Gatsby + TypeScript + Emotion + Storybook + Reac

[2020-01-07 11:05] robinmetral commented on #1105
Option 2 fixed it for me, I was having these warnings when running Jest+RTL tests and adding a test wrapper with a `CacheProvider` fixed it:

[code]

@Andarist could you provide more insight on what `emotionCache.compat = true` does? I haven't found docs for this in the [Emotion cache docs](https://emotion.sh/docs/@emotion/cache).

[2020-01-07 15:47] slavikdenis commented on #1137
@Andarist what about `as?: React.ElementType;` ? Thats how it's typed in reflexbox typings.

See: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/master/types/reflexbox/index.d.ts#L24

[2020-01-07 18:02] danvim commented on #1462
@Andarist  I'm currently having the same issue with Firefox (Chrome is working) with Next.js. And only the first element in DOM using Emotion is having this issue. I'm sorry, because I am not directly using Emotion, but rather, through Theme UI (Its creator has also made Rebass and Styled System).

I posted an issue on their repo: https://github.com/system-ui/theme-ui/issues/538. And I have an exa

[2020-01-08 09:41] NNSTH commented on #1424
Hey @luisherranz ,

I'm new to emotion, and want to switch some of our pages to AMP valid pages.
Can you describe the way you've used emotion in this case?

thanks in advance!

[2020-01-08 12:53] fabien0102 opened #1707 "Types: `props.theme` should not be optional in Emotion 11"
**Current behavior:**

The `props.theme` is `Theme | undefined` instead of `Theme`, so it's very hard to migrate to emotion 11 since we need to make sure that the theme is there on every usage.

This was previously discussed and fixed here -> https://github.com/emotion-js/emotion/pull/1501#issuecomment-553489241

I also follow the project to migrate to the new way, as describe here -> https://gith

[2020-01-08 13:54] Andarist commented on #1707
https://github.com/emotion-js/emotion/blob/31e610f2385d5a3dfd532b31f743e5f6b9fee43b/docs/typescript.mdx#define-a-theme

[2020-01-08 14:15] fabien0102 commented on #1707
Thanks, but I like my typesafety, this was not `any` and putting `any` there will be a HUGE lost…

So I guess you suggest that we need to check if theme is there everytime? 😕

[2020-01-08 14:18] fabien0102 commented on #1707
For the record, this was considered like a bug two months ago and fixed -> https://github.com/emotion-js/emotion/pull/1501#issuecomment-553840838

[2020-01-08 14:35] fabien0102 commented on #1707
Also, this is not consistant with the object notation, `Theme` is well defined in this case.

[code]

[2020-01-08 17:31] brandonkal commented on #1137
I don't use emotion anymore, but if it does not have the as prop as an optional parameter it should be done for all emotion components.

The other issue (which is what I assume Andarist is referring to) that can't be solved now is getting TS to change the type signature based on what is specified in the as prop.

[2020-01-08 19:58] fsaheli opened #1709 "React warning: Prop `className` did not match."
**Current behavior:**

When using SSR and in dev mode, the classname generated on the server doesn't match what's on the client.

I think I've narrowed it down to an issue involving sourcemaps.

In https://github.com/emotion-js/emotion/blob/117c6e42687cdcb773153f7400c5a430f228aa73/packages/serialize/src/index.js#L387 it seems the code is attempting to extract the sourcemap string in the style:

[c

[2020-01-08 22:23] Andarist commented on #1709
I think this might happen when you compose multiple styles into 1 - in such a case we don't prune other source maps, but rather leave all of them and later only search for one using that regex. So this alone is not immediately a sign of a bug.

I would love to see a repro case because it would help us tremendously to locate the bug, without it we can only guess stuff and waste way more time on the

[2020-01-08 22:44] Andarist commented on #1707
Ok, so I've actually misunderstood your original report here. I've focused myself on that error reported in french - and for that my advice still holds, you should augment builtin interface. But you have also found an issue with our typings 👍 probably a result of different PRs being merged in a roughly the same time and caused a mergeable conflict.

[2020-01-08 23:36] Andarist commented on #1462
@danvim when I run this repro I get 404 page when I enter http://localhost:3000/ - is this expected?

[2020-01-09 03:02] zslabs commented on #1468
👋 Not sure if it's appropriate to add a new issue or not, but seems related to hydration issues similar to this one. I've noticed when using [these docs](https://emotion.sh/docs/ssr#gatsby) I'm seeing some odd "double-loading" on https://zslabs.com/experience https://github.com/zslabs/zslabs.com where quick "hard refreshes" will show a small "blip" on the screen of the CSS code behind it; which I'

[2020-01-09 06:50] danvim commented on #1462
@Andarist Please use Firefox and Chrome for testing. The url should be `/theme_ui`. I'm sorry, since most of the info is in my other issue.

[2020-01-09 10:01] Andarist commented on #1468
@zslabs you have such style generated:
[code]
and it's applied to at least one of the `<style>` elements before we have a chance to move them out of the way (when JS loads and executes). I would recommend writing more specific css for this one.

[2020-01-09 10:42] Andarist commented on #1462
I'm afraid I can't reproduce this on my machine 😢 If you join our Slack and ping me there I could try to help you out debug this remotely though.

[2020-01-09 12:59] Andarist commented on #1707
Has been fixed by https://github.com/emotion-js/emotion/pull/1708 . Still need to resolve `@emotion/serialize` problem in https://github.com/emotion-js/emotion/pull/1710 , but expect a new release soon-ish.

[2020-01-09 12:59] #1707 closed

[2020-01-10 04:42] moroshko opened #1713 "How to merge `css` styles with `cloneElement`?"
Given an element with `css` styles, I'd like to clone it and add more `css` styles.

Using a [custom `cloneElement`](https://github.com/emotion-js/emotion/issues/1102#issuecomment-446887725) throws an error:

...and using `React.cloneElement` doesn't merge the styles.

Any ideas?

cc @Andarist

[Codesandbox](https://codesandbox.io/s/quirky-butterfly-ep8v4)

[2020-01-10 15:10] danvim commented on #1462
Thanks again @Andarist so much for your time remote debugging my case.

To any reading this, apparently, the browser specific regex for extracting the React component name in `process.env.NODE_ENV !== 'production'` failed for my Firefox version and OS:

I'm using Ubuntu 18.04 and this is what I've gotten from `apt-cache showpkg firefox`.

[code]

This line targets Safari and Firefox:

https://gith

[2020-01-10 17:49] jonavila commented on #1706
@wyeo Even though I don't see an interface or type in your sample, it looks like you are using Typescript based on what looks to be like a **Props** type. Emotion's docs state that React's fragment shorthand syntax doesn't work with pure Typescript.

I created a Codesandbox to reproduce what you are seeing here:
https://codesandbox.io/s/sleepy-sea-rdrqg

Notice the TS17017 error.

Similar code in

[2020-01-10 23:51] billyvg commented on #1105
@Andarist So, the issue is we are turning `speedy` off via

[code]

Is there an updated method to turn speedy off?

[2020-01-11 12:38] Andarist commented on #1709
Are you maybe using a wrapper around emotion - like for example Theme UI? Are all browsers affected?

[2020-01-11 12:42] Andarist commented on #1713
https://codesandbox.io/s/compassionate-curie-3gkzn

[2020-01-11 12:47] moroshko commented on #1713
@Andarist Yeah, I was thinking about doing this but it felt like a hack.
Is this the recommended approach? Is it future proof?

[2020-01-11 12:52] Andarist commented on #1713
Yes, arrays will be always supported and its a good composition mechanism :)

[2020-01-11 13:15] Andarist commented on #1693
Closing this because, as mentioned, this will be resolved in v11 - but with it, there will also be fewer use cases for re-exporting styled. So, in general, it should become less of a pain to work with. Stay tuned.

[2020-01-11 13:15] #1693 closed

[2020-01-11 13:31] Andarist commented on #1706
Yes, indeed. TS compiler doesnt allow for changing jsx pragma but leaving fragments intact:

you have to fall back to using `React.Fragment`.

[2020-01-12 01:16] fsaheli commented on #1709
@Andarist We are not using a wrapper, and yes, all browsers are affected. I have been digging into this though, and the error definitely is what I wrote above, the mismatch between sourcemaps: the sourcemap string in the server has a `sources` attribute that is unqualified + a `sourceRoot`(`"sourceRoot":"/Users/mine/code/homepage/src/components", "sources":["Heading.js"]`). On the client there is

[2020-01-12 15:10] LXSMNSYC commented on #1217
is there any solution to this? I am trying to achieve something like

[code]

but it seems that it doesn't work at all

[2020-01-12 15:46] LXSMNSYC opened #1715 "Reverse Selector does not work properly for generated classnames."
Example code:

[code]

**Current behavior:**

From the Emotion website:
<img width="734" alt="Screen Shot 2020-01-12 at 11 41 31 PM" src="https://user-images.githubusercontent.com/4783372/72221381-38f1ee80-3595-11ea-98f4-c3038f565c2c.png">

**To reproduce:**

https://codesandbox.io/s/emotion-issue-template-4ellp

**Expected behavior:**

The first `<a>` component should have been colored in red.

[2020-01-12 15:55] LXSMNSYC commented on #1715
<img width="222" alt="Screen Shot 2020-01-12 at 11 55 02 PM" src="https://user-images.githubusercontent.com/4783372/72221552-01844180-3597-11ea-84ab-c1996f060010.png">

Interestingly, it seems that the link also receives the same style as the paragraph.

[2020-01-12 16:51] wyeo commented on #1706
Okay i understand now. Thank you both 😊

[2020-01-12 16:51] #1706 closed

[2020-01-13 06:14] LXSMNSYC opened #1717 "Bugged when trying to use CSS variables"
Bug when trying to use CSS variables in stylesheets.

**Current behavior:**
<img width="725" alt="Screen Shot 2020-01-13 at 2 10 50 PM" src="https://user-images.githubusercontent.com/4783372/72235763-e2c19180-360e-11ea-9f51-8f9d8e384200.png">

**Expected behavior:**
<img width="725" alt="Screen Shot 2020-01-13 at 2 09 31 PM" src="https://user-images.githubusercontent.com/4783372/72235757-d806fc80-

[2020-01-13 06:16] LXSMNSYC commented on #1717
It seems that the classnames generated by css function itself is bugged when used for nested selectors:

<img width="716" alt="Screen Shot 2020-01-13 at 2 15 41 PM" src="https://user-images.githubusercontent.com/4783372/72235825-36cc7600-360f-11ea-8c6f-1f8ad7301963.png">

Notice how the whole paragraph gets the underline style

[2020-01-13 08:48] cornedor opened #1718 "@emotion/serialize is not published with the renamed packages."
**Current behavior:**

@emotion/serialize is not published and its types still refer to @emotion/core.

**To reproduce:**

1. Install @emotion/react@11.0.0-next.10
2. Open node_modules/@emotion/serialize/types/index.d.ts
3. Third line reads: import { Theme } from '@emotion/core'

Or

See: https://cdn.jsdelivr.net/npm/@emotion/serialize@0.12.0-next.3/types/index.d.ts

**Expected behavior:**

The al

[2020-01-13 21:06] Andarist commented on #1718
Yes, this was an oversight on our side. You can track progress on the fix for that here https://github.com/emotion-js/emotion/pull/1710 .

[2020-01-13 21:08] Andarist commented on #1717
I believe this is a duplicate of #1715

[2020-01-13 21:08] #1717 closed

[2020-01-13 21:16] Andarist commented on #1715
This seems like a problem with documentation. It seems to use an outdated pattern.

One of emotion's goal is to have predictable styles. Using nested selectors is against this goal - because you really cannot ever tell what exact styles an element will have without knowing its surrounding context.

`@emotion/core` doesnt allow you easily to access a class name as a string (you get an object back t

[2020-01-14 02:32] LXSMNSYC commented on #1715
After looking up tens of past issues, I found out that interpolation of classnames will be deprecated.

It's disappointing though that such a good feature, which was implemented by a css-in-js library that supports template strings, is going to be deprecated.

[2020-01-14 08:47] Andarist commented on #1715
Not quite, it's `SerializedStyles`:
<img width="641" alt="Screenshot 2020-01-14 at 09 46 17" src="https://user-images.githubusercontent.com/9800850/72328218-cf680200-36b2-11ea-9ceb-ba6195223135.png">

[2020-01-14 11:03] moroshko commented on #1713
Hey @Andarist,

What type of objects the `css` array is expected to have?
In [your sandbox](https://codesandbox.io/s/compassionate-curie-3gkzn), I see plain style objects like `{ color: "red" }` and `{ border: "1px solid black" }`.

But, in my app, I see 2 different behaviors:

1. `children.props.css` has the following shape: `{ name: "dlz2dp-Checkbox", styles: "...", map: "...", next: undefined,

[2020-01-14 11:54] Andarist commented on #1713
`css` call outputs such an object, it's called a serialized style. This is an optimization that we have implemented because many styles can be evaluated once and cached in such an object - some of the styles can be even converted to such an object at build time by our Babel plugin. That's why it's a valid input argument for `css`, css prop etc. You just receive it from the caller, already preevalu

[2020-01-14 12:58] SoYoung210 opened #1719 "How can i pass props to pseudo element?"
**Description:**

I want to pass props to the after element, But i have an error..
I found all documents, but i cant solve my issue

[code]

![image](https://user-images.githubusercontent.com/18658235/72346105-9d898680-3718-11ea-992c-a0cae62d6751.png)

i cant find `after` element.

**Documentation links:**

Can I refer to [this document](https://emotion.sh/docs/styled)?

[2020-01-14 13:01] #1719 closed

[2020-01-14 14:16] oleblaesing opened #1720 "sheet.speedy option has no impact on global styles"
**Current behavior:**

We want to have all of our CSS written directly into the documents head (for whatever reason). To enable this behavior, we are using the `sheet.speedy` option and provide it via the cache provider. Every styled component CSS gets written to the document head, only styles given to the `<Global>` element won't show up there.

It seems to be the case, that the global stylings a

[2020-01-14 14:18] LXSMNSYC commented on #1715
You might be talking about the latest typings, because in Emotion 10, this is clearly the output
<img width="286" alt="Screen Shot 2020-01-14 at 10 17 39 PM" src="https://user-images.githubusercontent.com/4783372/72351690-ca8b6880-371b-11ea-803e-39b7e9d306de.png">

[2020-01-14 18:47] Andarist commented on #1715
`emotion` is a different package - with slightly different goals. And in its case - yes the return type is a string.

The cascade is really often a source of maintainability problems and thus this pattern is strongly discouraged by emotion.

[2020-01-14 20:01] craigtockman opened #1722 "Sourcemapping can't be turned off in development"
Steps to reproduce.

1. Install babel-plugin-emotion
2. In .babelrc set sourceMap to false
[code]
3. Run project and check styles in head tag:
[code]
Expected:
Not to see sourceMappingURLs in development.
Actual:
Seeing sourceMappingURLs in development.

[code]

[2020-01-14 22:46] LXSMNSYC commented on #1715
so class names interpolation for nested selectors are now deprecated? now, that'd disappointing.

[2020-01-15 12:02] Andarist commented on #1722
Could you prepare a **runnable** repro case?

[2020-01-15 14:26] oeduardoal commented on #1722
In the docs

https://emotion.sh/docs/source-maps

[2020-01-15 14:26] oeduardoal commented on #1722
Required For Source Maps:

- babel-plugin-emotion must be in your Babel setup.
- process.env.NODE_ENV must be any value **except** "production"

[2020-01-15 14:46] Andarist commented on #1722
yes, that's true - but `sourceMap: false` being passed to the babel plugin should disable it for all environments ( https://emotion.sh/docs/babel-plugin-emotion#sourcemap )

[2020-01-15 20:08] luisherranz commented on #1424
Sure.

You have to import this
[code]

then, create an emotion server using a cache:
[code]

use extractCritical in the html returned by React:
[code]

and finally use `emotion.css` and `emotion.html` to populate your HTML template.

[2020-01-15 21:12] AlexFrazer opened #1725 "`forwardRef` in combination with `as` isn't typed as expected (tsc)"
**Current behavior:**

I want to use an existing component, override the `as` property, and forward a ref. When I try to do this, it causes a mismatch with the expected type for the `ref`.

**To reproduce:**

1. Create a styled component of any variety.
[code]
2. Create a separate component which forwards a ref and applies an `as` that doesn't match the type of the existing element that is being r

[2020-01-15 21:24] Andarist commented on #1725
`"as"` is a highly dynamic prop, I personally have no idea how to add type support for what you are asking for.

[2020-01-15 21:57] Andarist commented on #1709
I would check if you have multiple babel-plugin-emotion in your node_modules maybe. Have you passed `sourceMap: false` to our plugin? If yes - maybe you have some pretranspiled files in your node_modules? Something already transpiled using our plugin and you are just consuming it as is?

The mismatch - not sure, I'm just rather surprised by a report that you have disabled source maps and they are

[2020-01-15 22:39] JakeGinnivan commented on #1725
`Box.withComponent('input')` will work as expected with the types, the proposed workaround I don't think will be possible because it's not just the ref type, it's the event handlers and all the other intrinsic component prop types which would need to be replaced.

If you need the dynamic nature of `as` you will probably just need to use a cast. `<Box as="input" ref={ref as any} />`.

[2020-01-16 00:39] fsaheli commented on #1709
@Andarist I was wrong, passing `sourceMap: false` to the emotion babel plugin fixes the issue. I managed to create a repo, here it is: https://github.com/fsaheli/emotion-classname-mismatch Let me know when you get the chance to take a look. Thanks!

[2020-01-16 06:02] kevinrodriguez-io commented on #1606
Regarding to @emotion/native@next

For some reason I'm not getting the types folder installed on my node_modules and all my types are blank.

Is there any reason for this?

[2020-01-16 09:26] NNSTH commented on #1424
thank you very much @luisherranz ! now I can use emotion with my AMP pages!

[2020-01-16 12:13] Andarist commented on #1718
I believe that this got fixed by https://github.com/emotion-js/emotion/pull/1726 . Gonna prepare a new release with that included in a moment.

[2020-01-16 12:13] #1718 closed

[2020-01-16 12:14] Andarist commented on #1606
The version with those typings has not been published yet, I will do that in a moment.

[2020-01-16 14:40] kanishk-anand-oyo commented on #984
Is there a way to make font-face work with` injectGlobal` ? I cannot use` <Global /> ` since we use `emotion` instead of `@emotion/core`

I am trying to include font-face using injectGlobal and it won't download the font-files.

[2020-01-16 16:03] lauchness commented on #984
There's a link here: https://emotion.sh/docs/emotion#global-styles with an example that injects a custom font. Maybe the issue is in the `src` you're providing?

[2020-01-16 17:07] AlexFrazer commented on #1725
@JakeGinnivan that works great for me, I'll use that

[2020-01-16 17:26] Andarist commented on #1725
Closing this then 😄

[2020-01-16 17:26] #1725 closed

[2020-01-16 17:32] kanishk-anand-oyo commented on #984
This is the code snippet

[code]

[2020-01-16 18:31] lauchness commented on #984
I made a codesandbox and used your snippet. It seems to be working, can you confirm this is what you'd expect?
https://codesandbox.io/embed/dreamy-dawn-uxy1t?fontsize=14&hidenavigation=1&theme=dark

[2020-01-16 21:03] bmvantunes opened #1727 "[jest.mock + Typescript] You are loading @emotion/react when it is already loaded. Running multiple instances may cause problems."
**Current behaviour:**

Inside a unit test, after using jest.mock('./MyComponent') we get the error message added at #1677

[code]

**To reproduce:**
Option 1 - Cloning:
[code]

Option 2 - Step by step after "npx create-react-app my-app --typescript":

1. Install @emotion/react and @emotion/styled@next
[code]

2. Create a component "ComponentChild.tsx"
[code]

3. Create a component "ComponentParen

[2020-01-16 22:26] Andarist commented on #1727
Thanks for the report - I'm going to take a look at this later.

[2020-01-16 22:34] bmvantunes commented on #1727
Thanks @Andarist

[2020-01-17 05:58] Andarist commented on #1709
I'm not sure why exactly but your SSR and client-side have different settings for Babel. Maybe it's because you are using babel-node?

The problem is that we receive different arguments from Babel. We read "generatorsOpts" and filename related properties are set to:
[code]

When I've tweaked how those are passed to the SourceMapGenerator it has fixed the issue. I'm not sure though if we should "fi

[2020-01-17 06:16] ksweetie opened #1728 "TypeError: Cannot read property 'key' of null on SSR"
**Current behavior:**

Using the `css` property works on the client, but on SSR gives this error:

[code]

Related issue: https://github.com/emotion-js/emotion/issues/1185

**To reproduce:**

The app I'm integrating this in is a Rails app using https://github.com/reactjs/react-rails so I made a repro with it. Hopefully you have ruby installed 🤞.

[code]

Here's a list of files I changed, otherwise

[2020-01-17 12:34] simajzenman commented on #1122
@Andarist you were right and I fixed it, thanks a lot for your reply

[2020-01-17 17:14] Andarist commented on #1728
This most likely is some configuration issue. Could you join our Slack and DM me there? We could discuss this further in a more prompt fashion.

[2020-01-17 23:20] ksweetie commented on #1217
@LXSMNSYC Does this work for you? I just ran into this problem, and figured out this solution. However, it seems pretty hacky, so I'm still looking for a better way...

[code]

[2020-01-18 04:35] LXSMNSYC commented on #1217
@ksweetie not with the `emotion` package, it returns a string

[2020-01-19 12:23] Andarist commented on #1727
Hm, this is an interesting case. Still digging into this - I need to get more familiar with what jest is actually doing under the hood to isolate tests etc.

[2020-01-19 22:57] fsaheli commented on #1709
I see. Thanks for looking into it. It doesn't sound like this has anything to do with Emotion per se, so I'm going to close the issue. I mean a possible solution to the specific mismatch issue could be to generate the hash based on a style string without any sourcemaps, but I've fixed our issue by disabling sourcemaps altogether, and when I have time I'll debug the babel config mismatch...

[2020-01-19 22:57] #1709 closed

[2020-01-20 08:38] morlay opened #1730 "[babel-plugin@v11] transform css prop without css wrapper for array value"
**Current behavior:**

work well Component in v10
[code]

in v11 it is transformed to

[code]
and styles broken

after added css wrapper of `@emotion/react`, it work well.

**Expected behavior:**

should transformed with `css` wrapper for array value.
or process it by core lib.

**Environment information:**

- `react` version: 16.8.x
- `emotion` version: v11.0.0-next.11

[2020-01-20 09:04] Andarist commented on #1730
Could you prepare a runnable repro case? It would allow me to jump into the issue quicker.

[2020-01-20 09:29] Andarist commented on #1709
@fsaheli funny thing - this most likely got fixed by accident on the `next` branch. The goal of the change was to give more accurate source maps to the browser for composed styles and to make this happen we had to add `g` flag to that `sourceMapPattern`:
https://github.com/emotion-js/emotion/blob/d950d7d3a2d0a4c77d9037c0dbeae9d0b24e6577/packages/serialize/src/index.js#L335

I believe this accident

[2020-01-20 13:24] morlay commented on #1730
@Andarist
https://github.com/morlay/emotion-issue
`yarn start`

here may the issue cause.
![image](https://user-images.githubusercontent.com/1667873/72729897-3a419d80-3bcb-11ea-92bd-5724435056b6.png)

[2020-01-20 21:51] Andarist commented on #1730
@morlay thank you very much for the report and the repro case ❤️ I've diagnosed the underlying issue, gonna work on the fix tomorrow.

[2020-01-21 14:28] bmvantunes commented on #1727
@Andarist

I was able to find a way to not show the error in jest.
Basically when jest is running it has "process.env.JEST_WORKER_ID" set.

Going to the `if` in #1677 and adding "&&  process.env.JEST_WORKER_ID" the error is no longer visible in jest.

This still keeps the error in all the other expected "platforms".

PS - I know this is probably not the solution you were looking for, but after a f

[2020-01-22 12:12] Andarist commented on #1730
I've prepared a fix for this https://github.com/emotion-js/emotion/pull/1732 . We should be able to ship this by the end of the week.

[2020-01-22 12:36] Andarist commented on #1722
Closing because the OP has not responded back after my prompt response. If you provide a **runnable** repro case for this then I could take a look at your problem.

[2020-01-22 12:36] #1722 closed

[2020-01-22 13:09] Andarist commented on #1720
If that's not a problem for you - I would prefer fixing this only for the upcoming v11.

[2020-01-22 13:14] Andarist commented on #1713
@moroshko have you resolved your problem? Can this be closed?

[2020-01-22 13:18] Andarist commented on #1727
Nope, I've tried to reach out to a jest maintainer, but haven't got an answer so far. Given the fact that this check is primarily meant for browsers, maybe we should just log it only in them. That being said - it could still potentially be helpful for test-runners, but only if we can log it reliably and currently it seems that we can't.

[2020-01-23 15:43] kevinrodriguez-io commented on #1606
@Andarist Thanks a lot! The new typings are working great.

I'm getting theme intellisense by doing this:

types.ts
[code]

PinDot.ts
[code]

[2020-01-23 16:56] thewavelet commented on #1606
Thank you for your great awesome works! And I have two questions.
When is v11 going to release?
Can I use v11 in advance with yarn add @emotion/core@next @emotion/native@next commands?
Because I need react native typings.

[2020-01-23 17:27] kevinrodriguez-io commented on #1606
@thewavelet You can add it by using:

`yarn add @emotion/react@next @emotion/native@next`

You'll have to remove @emotion/core and emotion-theming, both packages are now part of @emotion/react

[2020-01-23 21:19] Andarist commented on #1606
When it's ready 😉

[2020-01-24 08:25] thewavelet commented on #1606
Thank you! I will use emotion instead of styled-components.

[2020-01-24 10:27] moroshko commented on #1713
Yep, thanks @Andarist for your help!

[2020-01-24 10:27] #1713 closed

[2020-01-24 10:43] osdiab opened #1738 "eslint-plugin-emotion: unsafe selectors"
**The problem**

The issues #1105 #1178 showcase a problem I'm running into, I've used those selectors extensively in my company's codebase and now Emotion says they're bad so I need to replace them all. I want a rule that will prevent them from ever being used if this is the direction Emotion is going in.

**Proposed solution**

A lint rule that forbids use of those styles

**Alternative solution

[2020-01-24 13:58] osdiab commented on #1738
Ah maybe I can make stylelint do this for me, I'll try it out

[2020-01-24 20:04] JOHNFLEURIMOND opened #1739 "ERR! No overload matches this call."
......

[2020-01-25 17:30] harish92 opened #1740 "unable to display images as background images dynamically"
const products = [
  {
    title: 'Golden Emerald',
    price: '700',
    image: 'images/products/1.jpg',
  },
  {
    title: 'Logan Sapphire',
    price: '700',
    image: 'images/products/2.jpg',
  },
  {
    title: 'Royal Topaz',
    price: ' 700',
    image: 'images/products/3.jpg',
  },
  {
    title: 'Light azore',
    price: '700',
    image: 'images/products/4.jpg',
  },
  {
    title: 'Ch

[2020-01-25 17:33] Andarist commented on #1740
Please provide a **runnable** repro case.

[2020-01-27 08:36] adambisek opened #1741 "Css classes are not splitted to treat output CSS effectively"
After reading documentation and googling I nowhere found, how to make Emotion effective and split produced css code.

**Version of Emotion:**
I have this issue on latest v 10.

**Repro steps:**
I have component like this:

[code]

And I use it two times like this:

[code]

**Current CSS output:**
[code]

**Expected CSS output:**
[code]

[2020-01-27 08:56] Andarist commented on #1741
This is explicitly not a goal of emotion. Emotion does a bunch of stuff at runtime (and is fast at doing them!) and this would only slow it down without really yielding any real benefits (especially compared to runtime overhead implied by this). It would also be harder to do a composition of styles and you would be endangered with insertion order problem - described in more detail here: https://em

[2020-01-27 08:56] #1741 closed

[2020-01-27 18:42] #1739 closed

[2020-01-28 12:04] Fivapr commented on #646
we have same problem, is there any related issue?

[2020-01-28 14:20] axeen commented on #1061
How would this be done more specifically?

[2020-01-28 16:59] mariajplmiranda opened #1742 "Generated classname doesn't use labelFormat template, using css props with theming"
**Current behavior:**
I've a typescript project which supports theming and we use css props to style the components. We do have the labelFormat configured as documented but for the our use case the passed templated is ignored and it's used the default labelFormat value.

I've tested exactly the same component without theme, and the labelFormat is used properly as set in the babel.config.json.

I b

[2020-01-28 20:28] reverse-eng commented on #1237
Just wanted to note I had this issue and adding
/** @jsx jsx */
import { jsx } from '@emotion/core';

fixed the error for me.

[2020-01-28 23:07] hennessyevan opened #1743 "cache.sheet.rehydrate is not a function in @emotion/cache v11"
**Current behavior:**

While trying to get tests to pass upgrading @xstyled to emotion 11 tests fail with `cache.sheet.rehydrate is not a function` coming from https://github.com/emotion-js/emotion/blob/next/packages/cache/src/index.js#L252

In my codesandbox however, I'm getting something else. I'm not sure what's going on here.

**To reproduce:**

https://codesandbox.io/s/dawn-sun-tkico

**Envir

[2020-01-29 00:37] hammadj commented on #1606
I'm having trouble using `@emotion/native` this in Expo Web / react-native-web. I get the following error when compiling the web target:
[code]

Any guidance here?

[2020-01-29 00:39] hammadj commented on #1606
Is there plans to improve support for the css prop in `@emotion/native` ? Seems to be the new recommended approach instead of using the `styled.View` syntax.

[2020-01-29 22:31] billyjanitsch opened #1744 "[v11] @emotion/react types implicitly depend on @emotion/styled"
**Current behavior:**

The typings for `@emotion/react` [import from `@emotion/styled`](https://unpkg.com/browse/@emotion/react@11.0.0-next.11/types/theming.d.ts), which results in an error when typechecking if the latter is not installed:

[code]

**To reproduce:**

Install `@emotion/react` and run TS against the following snippet:

[code]

**Expected behavior:**

I would expect to be able to use

[2020-01-29 23:00] NoobsArePeople2 commented on #1606
Hate to be the guy who piles on this question but I need to ask.

I'm looking at migrating a significant amount of code from Emotion 9 to Emotion 10 in the near future and would like to avoid having to then migrate to Emotion 11 after completing the first migration. It sounds like the Emotion 11 API will be very similar to 10 so the level of effort in migrating 9 --> 11 is similar to 9 --> 10.

Ca

[2020-01-30 11:52] belgattitude opened #1745 "Styles disappear (flash) with latest Chrome on Ubuntu"
**Current behavior:**

Since yesterday and with latest chrome Version 79.0.3945.130 (Official Build) (64-bit) / Ubuntu, emotions styles appears on page load then suddenly disappear.

![issue-emotion](https://user-images.githubusercontent.com/259798/73447110-59c08f00-435e-11ea-8966-7d43965ef8fa.gif)

This issue does not happen with Firefox or Chrome for MAC (all latests). I initially had this issue

[2020-01-30 12:59] fnune opened #1746 "Activating the Loom browser extension causes my emotion-based site to break"
**Current behavior:**

I have an SSR setup with emotion using `babel-plugin-emotion` with default configuration. The initial HTML response from my server renders the site correctly. Among other interesting parts, it looks like this:

![image](https://user-images.githubusercontent.com/16181067/73447491-20d4ea00-435f-11ea-833b-e90a91956e6f.png)

However, once the client bundle takes over, it looks l

[2020-01-30 18:51] belgattitude commented on #1746
Hey, nice catch. related to my issue #1745... Just tried in incognito (so loom is disabled) and it works.

[2020-01-30 18:52] belgattitude commented on #1745
Linked to #1746. Seems to be related to loom extension

[2020-01-30 18:56] belgattitude commented on #1746
For info,  got this bug since yesterday (loom extension was updated at [the same time](https://chrome.google.com/webstore/detail/loom-video-recorder-scree/liecbddmkiiihnedobmlmillhodjkdmb)).  I'll try to contact them next morning.

[2020-01-30 19:10] fnune commented on #1746
I already did, they said they have a patch ready for release. However, could this also be a bug in emotion?

[2020-01-30 19:22] fnune commented on #1746
I've asked them to leave a post-mortem here, we'll see :relaxed:

[2020-01-30 19:50] belgattitude commented on #1745
loom extension bug. emotion rocks 😁

[2020-01-30 19:50] #1745 closed

[2020-01-30 23:24] Andarist commented on #1744
Thanks for bringing this up - this definitely should get fixed before the final release.

[2020-01-30 23:26] Andarist commented on #1743
Have you maybe forgotten to save the sandbox? I don't see emotion nor xstyled used in there and there are no errors as far as I can tell.

[2020-01-31 08:42] belgattitude commented on #1746
@fnune

Not sure, some other sites are impacted as well, ;i.e: https://www.algolia.com/pricing/ not sure if they use emotion or styled-components though... does it worth investigation ?

[2020-01-31 09:24] n00b2pr0 commented on #1746
Seeing this Loom extension issue on a site I maintain. Same scenario with Loom, using Emotion and initially looks good but shortly after styles are broken.

[2020-01-31 10:25] Andarist commented on #1746
There are some emotion styles there.

There is really not anything that emotion can do to prevent such issues, CSS are effectively global and if some other scripts mess up our styles it's their fault and the problem should be fixed there.

[2020-01-31 10:53] einomi commented on #1746
We are experiencing the same issue on our Gatsby+emotion.js website

As a temporal workaround I've created this component that shows a message about Loom extension issue and suggests to turn it off until the new version is released.

[code]

[2020-01-31 13:46] tszekely commented on #1306
Thanks @duncanleung , the adding the second code config to my webpackFinal config in Storybook main.js worked for me!